

    <div class="col-xl-10 col-md-10">
        <div class="container">&nbsp;</div>
    <div class="container">&nbsp;</div>
        <mat-card class="example-card">
            
                <div class="row">
                    <div class="col-sm-5">
                        <mat-card-title style="text-align: left;">  {{visitepm.medecinPH.medecin.name}} </mat-card-title>
                        <mat-card-subtitle style="text-align: left;"> {{visitepm.medecinPH.medecin.specialicite}}</mat-card-subtitle>
                        <mat-card-subtitle style="text-align: left;">{{visitepm.medecinPH.medecin.email}}</mat-card-subtitle>
                        <mat-card-subtitle style="text-align: left;">{{visitepm.medecinPH.medecin.numPhone}}</mat-card-subtitle>
                   </div>
                   <div class="col-sm-2" >
                       <div class="image">
                      <img mat-card-image img src="assets/images/43.png"></div>
                   </div>
                   
                    <div class="col-sm-5">
                        <div >
                        <img mat-card-image img src="assets/images/logo.jpeg"> </div>  
                       </div>
                    
                   
                </div> 
                <hr style="background-color: blue;border-radius: 10rem;border: 2;">

                <mat-card-title style="text-align: center;color : blue;text-decoration: underline;"> Détail de la Visite </mat-card-title>
                <mat-card-subtitle style="text-align: center;">Code de la visite :  {{visitepm.patient.id}}</mat-card-subtitle>
                <div class="container">&nbsp;</div>
                <div class="container">&nbsp;</div>
                <div class="row">
                    <div class="col-sm-8">
                        
                        <mat-card-subtitle style="text-align: left;color: black;font-family: 'Georgia';font-size: 16px;"> Nom et prénom : {{visitepm.patient.name}}</mat-card-subtitle>
                    </div>
                    <div class="col-sm-4">

                        <mat-card-subtitle  style="text-align: left;color: black;font-family: 'Georgia';font-size: 16px;">Date de visite: {{visitepm.visite.date_visit|date: 'dd/MM/yyyy'}}</mat-card-subtitle>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8">
 
                        <mat-card-subtitle style="text-align: left;color: black;font-family: 'Georgia';font-size: 16px;">Medecin visité: {{visitepm.medecinPH.medecin.name}} </mat-card-subtitle>
                    </div>
                    <div class="col-sm-4">
                        <mat-card-subtitle style="text-align: left;color: black;font-family: 'Georgia';font-size: 16px;">Motif: {{visitepm.visite.objet_visit!}} </mat-card-subtitle>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8">
                        <mat-card-subtitle  style="text-align: left;color: black;font-family: 'Georgia';font-size: 16px;">Type de visite: {{visitepm.visite.type_visite!}}</mat-card-subtitle>
                    </div>
                    <div class="col-sm-4">

                        <mat-card-subtitle style="text-align: left;color: black;font-family: 'Georgia';font-size: 16px;">Prix de consultation: {{visitepm.visite.prix_cons}}</mat-card-subtitle>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8">
                        <mat-card-subtitle style="text-align: left;color: black;font-family: 'Georgia';font-size: 16px;">Date de rend-vous: {{visitepm.visite.date_der_con|date: 'dd/MM/yyyy'}}</mat-card-subtitle>
                    </div>
                    
                </div>
                <div class="container">&nbsp;</div>
                <div class="container">&nbsp;</div>
                <div class="row">
                    <div class="col-sm-4">
                        <button  mat-mini-fab color="primary" (click) = "Retour()" aria-label="Button that displays a tooltip when focused or hovered over"  matTooltip="Page précédent"><mat-icon >
                            arrow_back
                          </mat-icon></button>
                    </div>
                    <div class="col-sm-6">
                        <i class="far fa-print">
                            
                            <button 
                           
                            (click)="printPage()" 
                            ngxPrint style=" margin-left: 3%;" class = "btn btn-success" type ="submit">
                            Imprimer</button>
                        </i>
                    </div>
                    
                    <div class="col-sm-2"> 
                        <button mat-mini-fab color="primary" [matMenuTriggerFor]="menu" aria-label="Button that displays a tooltip when focused or hovered over"  matTooltip="resultat d'une visite">
                            <mat-icon >menu</mat-icon>
                            <mat-menu   #menu="matMenu" >
                                <button mat-menu-item (click) = "AddOrd()" *ngIf="showAdminBoard">ajouter un ordonnance</button>
                                <button mat-menu-item (click) = "AddAnls()" *ngIf="showAdminBoard">ajouter un analyse</button>
                                <button mat-menu-item (click) = "AddHosp()" *ngIf="showAdminBoard">ajouter une hospitalisation</button>
                                
                                </mat-menu>
                            
                          </button> </div>
                </div>
                <mat-card-footer style="text-align: left;color: black;font-family: 'Georgia';font-size: 16px;">SISTA.sarl</mat-card-footer>
                </mat-card>
                </div>
        
