<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

<div class="container" style="background-color: light; margin-left: 5% " >
 <DIV CLASS="container"> <button class="bnt btn-primary" style="margin-left: 85%; margin-top: 2%"><a routerLink="/addSecretaire"
                        style="color: black;font-family: 'Script MT Bold'  "><i class="bi bi-person-plus-fill"></i>  Ajouter Secretaire</a></button>

<h2 style="color: rgba(0, 0, 255, 0.719); font-family: 'Georgia', Times, serif; margin-left: 20%;" >    List des Secretaires</h2></DIV>
  <hr STYLE="color: yellow; ">
  <br><br>
<table class = "table table-hover">
    <thead class="thead-light"> 
        <tr>
            <th>Id</th>
            <th> Nom de Secretaire </th>
            <th> Email</th>
            <th> Num phone</th>
            <th> Actions </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let secretaire of secretaires "  >
          
            <th class ="hidden"> {{ secretaire.id }} </th>
            <td> {{ secretaire.nom_sec }} </td>
            <td> {{ secretaire.email }} </td>
            <td> {{ secretaire.num_tel  }} </td>
          
            
         <td>
                  <button (click) = "updateSecretaire(secretaire.id)" class = "btn btn-primary"> <i class="bi bi-pencil-square"></i></button>
                <button (click) = "deleteSecretaire(secretaire.id)" class = "btn btn-danger" style="margin-left: 10px"> <i class="bi bi-trash-fill"></i></button>
            
            </td>
        </tr>
    </tbody>
</table>
</div> 
