
<!DOCTYPE html>
<html>
<head>

</head>
<body>

<!--     
<h1 style=" margin-left: 30%;font-family: 'Georgia', Times, serif; color: blue;">Ajouter un ordonnance</h1> -->
<mat-toolbar>
  <span style=" margin-left: 30%;font-family: 'Georgia', Times, serif; color: blue;">Ajouter un Ordonnance</span>
  <button  mat-mini-fab color="warn" style="margin-left: 45%;"  (click)="onClose()" aria-label="Example icon button with a home icon">
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>

<div class="container">
   
  <form action="/action_page.php" (ngSubmit) = "onSubmit()">
  <div class="row">
    <div class="col-25">
      <label for="date_ord" class="required" style="color: blue;font-family: 'Georgia'">Date d'ordonnance</label>
    </div>
    <div class="col-75">
      <input type="date" class="form-control"  id = "date_ord" placeholder="Date d'ordonance"
      [(ngModel)] = "ordonancemv.ordonance.date_ord" name = "date_ord">
      <!-- formControlName="date_visit"
        [ngClass]="{'is-invalid':form.get('date_visit')?.touched && form.get('date_visit')?.invalid}">

        <div class="invalid-feedback">
            <div> Date de visite est obligatoire</div>
        </div>  -->
    </div>
  </div>
  
  
 
 
  
  <div class="row">
    <div class="col-25">
    <label for="medicament" style="color: blue;font-family: 'Georgia'" >Nom du Medicament</label></div>
    <div class="col-75">
        <mat-select   type="text" class ="form-control"id = " M_Id"  placeholder="id Medicament"
        [(ngModel)]="ordonancemv.medicament" name = "M_Id" >
        <!-- formControlName="visitepm"
        [ngClass]="{'is-invalid':form.get('visitepm')?.touched && form.get('visitepm')?.invalid}">

        <div class="invalid-feedback">
            <div> Name Medcin visite is required</div>
        </div> -->

            
        <mat-option *ngFor = "let item of medicaments" [value]="item" >
            <tr >
                {{item.id}} 
                {{item.typeMedc}}
                {{item.nomMedc}}
            
            </tr>
        </mat-option>

        </mat-select></div></div>

        <div class="row">
            <div class="col-25">
              <label for="dosage" style="color: blue;font-family: 'Georgia'">Dosage</label>
            </div>
            <div class="col-75">
                <input type="text"  class="form-control" id = "dosage" placeholder="Dosage"
                [(ngModel)] = "ordonancemv.ordonance.dosage" name = "dosage" >
            </div>
          </div>

  <div class="row">

    <!-- <button  mat-mini-fab color="warn" style="margin-left: 2%;" color="primary" (click) = "Retour()">
        <mat-icon >assignment_return</mat-icon></button> -->
    <input type="submit" style="margin-left: 50%;" value="Ajouter" mat-dialog-close>
    <!-- <button style="margin-bottom: 5%; margin-left: 80%;" class = "btn btn-success" type ="submit">Ajouter</button> -->
   
   
  </div>
  </form>
</div>

</body>
</html>





