
 <form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()">
  
    
  
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title style="color: blue; font-family: 'Georgia', Times, serif;">Ajouter un nouveau patient</mat-card-title>
        <button mat-icon-button (click)="onClose()" style="margin-left: 40%;" color="basic" aria-label="Example icon button with a menu icon">
          <mat-icon>close</mat-icon>
        </button>
     
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input
              matInput
              placeholder="Nom et Prénom"
              formControlName="name"
             
              name="name"
            />
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input
              matInput
              placeholder="Téléphone"
              formControlName="phone"
              minlength="8"
              maxlength="8"
              name="phone"
            />
            <mat-error
              *ngIf="addressForm.controls['phone'].hasError('required')"
            >
              Numéro de téléphone est <strong>obligatoire</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input
              matInput
              type="number"
              placeholder="Age"
              formControlName="age"
              minlength="1"
              maxlength="3"
              name="age"
            />

            <mat-error
              *ngIf="
                addressForm.controls['age'].hasError('required')
              "
            >
              date de naissance est <strong>obligatoire</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-select
              placeholder="Sexe"
              formControlName="sexe"
              
              name="sexe"
            >
              <mat-option value="Homme">Homme</mat-option>
              <mat-option value="Femme">Femme</mat-option>
            </mat-select>
            <mat-error
              *ngIf="addressForm.controls['sexe'].hasError('required')"
            >
              Sexe est <strong>obligatoire</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <textarea
              matInput
              placeholder="Maladie antecedent"
              formControlName="antecedent"
              
              name="antecedent"
            ></textarea>
            
            
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input
              matInput
              placeholder="Adresse"
              formControlName="adresse"
              
              name="adresse"
            >
            
            <mat-error
              *ngIf="addressForm.controls['adresse'].hasError('required')"
            >
              Adresse est <strong>Obligatoire</strong>
            </mat-error>
          </mat-form-field>
        </div>
       
      </div>
      
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary"  style="margin-left: 40%;"type="submit" >Ajouter</button>
    </mat-card-actions>
    <!-- <div *ngIf="alerte" class="alert alert-success alert-dismissible fade show" role="alert">
      <strong>le patient est ajouter</strong>
      <button (click)="closeAlerte()" type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div> -->
  </mat-card>
  
</form> 
<!-- <div class="alert alert-success">
  le patient est bien ajouter
</div> -->
<!--  
<!DOCTYPE html>
<html>
<head>

</head>
<body>

<mat-toolbar>
  <span style=" margin-left: 30%;font-family: 'Georgia', Times, serif; color: blue;">Ajouter un Patient</span>
  <button mat-icon-button (click)="onClose()" style="margin-left: 47%;" color="basic" aria-label="Example icon button with a menu icon">
    <mat-icon>close</mat-icon>
  </button>
  
</mat-toolbar>
<div class="container">
 
  <form action="/action_page.php" (ngSubmit) = "onSubmit()">
  <div class="row">
    
    <div class="col-25">
      <label for="name" class="required" style="color: blue;font-family: 'Georgia'">Nom et Prénom</label>
    </div>
    <div class="col-75">
      <input type="text" id="name" class="form-control" placeholder="Your name.." [(ngModel)] = "patient.name" name = "name" 
      >

         
    </div>
  </div>
  <div class="row">
    <div class="col-25">
      <label for="phone" style="color: blue;font-family: 'Georgia'">Téléphone</label>
    </div>
    <div class="col-75">
      <input type="text" id="phone"  class="form-control" [(ngModel)] = "patient.phone" name = "phone" placeholder="Your phone number..">
    </div>
  </div>
  <div class="row">
    <div class="col-25">
      <label for="age" style="color: blue;font-family: 'Georgia'">Age</label>
    </div>
    <div class="col-75">
      <input type="number" id="date_naissance"   class="form-control" [(ngModel)] = "patient.age" name = "date_naissance">
      
    </div>
  </div>
  
  <div class="row">
    <div class="col-25">
      <label for="sexe" style="color: blue;font-family: 'Georgia'">Sexe</label>
    </div>
    <div class="col-75">
      <select id="sexe" class="form-control" [(ngModel)] = "patient.sexe" name = "sexe"  placeholder="Your Sexe..">
        <option value="Homme">Homme</option>
        <option value="Femme">Femme</option>
        
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-25">
      <label for="adresse" style="color: blue;font-family: 'Georgia'">Adresse</label>
    </div>
    <div class="col-75">
        <input type="text" id="adresse" class="form-control" [(ngModel)] = "patient.adresse" name = "adresse" placeholder="Your Adresse..">
    </div>
  </div>
  <div class="row">
    <div class="col-25">
      <label for="antecedent" style="color: blue;font-family: 'Georgia'">Antecedents</label>
    </div>
    <div class="col-75">
        <input type="text" id="adresse" class="form-control" [(ngModel)] = "patient.antecedent" name = "antecdent" placeholder="Your Antecedents..">
    </div>
  </div>

   

    

  <div class="row">
   

    <input type="submit" style="margin-left: 50%;" value="Ajouter"  mat-button mat-dialog-close>
    
   
   
  </div>
  </form>
</div>



</body>
</html>    -->
