
.required:after {
  content:" *";
  color: red;
}

.input-icons i { 
    position: absolute;
} 

.input-icons { 
    width: 100%; 
    margin-bottom: 10px; 
} 

.icon { 
    padding: 15px;
} 

.input-field { 
    padding: 10px;
}
