<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

<div class="container" style="background-color: light; margin-left: 0% " >
 <DIV CLASS="container">
                       
                            <mat-icon style="margin-left: 98%;margin-top: 2%" color="primary" (click) = "Retour()">assignment_return</mat-icon>
                          

<h1 style="color: blue; font-family: 'Georgia', Times, serif; margin-left: 35%;"  >    List des Annalyses</h1></DIV>
  <hr STYLE="color: lightblue; ">
  <div>
    <input type="search" (ngModelChange)="Search(key.value)" #key="ngModel" ngModel
    name="key" id="searchName" class="form-control mr-sm-2" placeholder="Search patient..." required> 
  </div><br>
<table class = "table table-hover" >
    <thead>
        <tr class="bg-primary">
            <th>Id</th>
            <th> Nom d'annalyse </th>
            <th> Nom de labo</th>
            <th>Patient</th>
            <th> Actions </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let annalyseV of annalyseVs "  >
          
            <th class ="hidden"> {{ annalyseV.annalyse.id }} </th>
            <td> {{ annalyseV.annalyse.nomAnls }} </td>
            <td> {{ annalyseV.annalyse.nom_labo }} </td>
            <td> {{ annalyseV.visitePM.patient.name }} </td>
          
            
         <td>
              <mat-icon  color="primary" (click) = "updateAnnalyse(annalyseV.annalyse)">update</mat-icon>
                  <mat-icon color="accent" (click) ="deleteAnnalyse(annalyseV.id)">delete</mat-icon>
                  <!-- <mat-icon color="warn" (click) = "HospitalisationDetails(hospitalisationV)" >info</mat-icon> -->
                
                
            
            </td>
        </tr>
    </tbody>
</table>
</div> 
