<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

<div class="container" style="background-color: light; margin-left: 0% " >
 <DIV CLASS="container"> 
  <button  mat-mini-fab color="warn" style="margin-left: 98%;margin-top: 2%" color="primary" (click) = "Retour()">
  <mat-icon >assignment_return</mat-icon></button>


<h1 style="color: blue; font-family: 'Georgia', Times, serif; margin-left: 30%;" >    Liste des Hospitalisations</h1></DIV>
  <hr STYLE="color: yellow; ">
  <div>
    <input type="search" (ngModelChange)="Search(key.value)" #key="ngModel" ngModel
    name="key" id="searchName" class="form-control mr-sm-2" placeholder="Search patient..." required> 
  </div><br>

  
<table mat-table [dataSource]="this.hospitalisationVs" class="mat-elevation-z8">

  
  <ng-container matColumnDef="Id">
    <th style="color: blue;font-family: 'Georgia';font-size: 16px;" mat-header-cell *matHeaderCellDef> Id &nbsp;<i class="fa fa-sort"></i></th>
    <td mat-cell *matCellDef="let hospitalisationV" class ="hidden"> {{ hospitalisationV.hospitalisation.id }} </td>
  </ng-container>
  <ng-container matColumnDef="patient.name">
    <th style="color: blue;font-family: 'Georgia';font-size: 16px;" mat-header-cell *matHeaderCellDef>Patient</th>
    <td  mat-cell *matCellDef="let hospitalisationV">{{hospitalisationV.visitePM.patient.name}}</td>
    
  </ng-container>
  <ng-container matColumnDef="date_debut_hosp">
    <th style="color: blue;font-family: 'Georgia';font-size: 16px;" mat-header-cell *matHeaderCellDef>DDhospitalisation</th>
    <td mat-cell *matCellDef="let hospitalisationV"> {{ hospitalisationV.hospitalisation.date_debut_hosp |date: 'dd/MM/yyyy'}} </td>
    
  </ng-container>

  <ng-container matColumnDef="date_fin_hosp">
    <th style="color: blue;font-family: 'Georgia';font-size: 16px;" mat-header-cell *matHeaderCellDef>DFhospitalisation</th>
    <td mat-cell *matCellDef="let hospitalisationV"> {{ hospitalisationV.hospitalisation.date_fin_hosp |date: 'dd/MM/yyyy'}} </td>
    
  </ng-container>

  
  <ng-container matColumnDef="numLit">
    <th style="color: blue;font-family: 'Georgia';font-size: 16px;" mat-header-cell *matHeaderCellDef>Lit</th>
    <td mat-cell *matCellDef="let hospitalisationV"> {{  hospitalisationV.hospitalisation.numLit }} </td>
  </ng-container>
  <ng-container matColumnDef="numChambre">
    <th style="color: blue;font-family: 'Georgia' ;font-size: 16px;" mat-header-cell *matHeaderCellDef>Chambre</th>
    <td mat-cell *matCellDef="let hospitalisationV"> {{ hospitalisationV.hospitalisation.numChambre}} </td>
    
  </ng-container>
  <ng-container matColumnDef="nomUnite">
    <th style="color: blue;font-family: 'Georgia';font-size: 16px;" mat-header-cell *matHeaderCellDef> Unite</th>
    <td mat-cell *matCellDef="let hospitalisationV"> {{ hospitalisationV.hospitalisation.nomUnite }} </td>
    
  </ng-container>
  <ng-container matColumnDef="traitement">
    <th style="color: blue;font-family: 'Georgia';font-size: 16px;" mat-header-cell *matHeaderCellDef>Traitement</th>
    <td mat-cell *matCellDef="let hospitalisationV"> {{ hospitalisationV.hospitalisation.traitement }} </td>
    
  </ng-container>
  
  <ng-container matColumnDef="medecin.name">
    <th style="color: blue;font-family: 'Georgia';font-size: 16px;" mat-header-cell *matHeaderCellDef>Medecin</th>
    <td  mat-cell *matCellDef="let hospitalisationV">{{hospitalisationV.visitePM.medecinPH.medecin.name}}</td>
    
  </ng-container>
  <ng-container matColumnDef="Actions">
    <th style="color: blue;font-family: 'Georgia';font-size: 16px;" mat-header-cell *matHeaderCellDef > Actions </th>
    <td mat-cell *matCellDef="let hospitalisationV">
      <button  mat-mini-fab color="warn" (click) = "updateHospitalisation(hospitalisationV.hospitalisation)"  aria-label="Example icon button with a home icon">
      <mat-icon >update</mat-icon></button>&nbsp;
      <button  mat-mini-fab color="accent" (click) = "deleteHospitalisation(hospitalisationV.id)"><mat-icon >delete</mat-icon></button>&nbsp;
      <button  mat-mini-fab color="primary" (click) = "HospitalisationDetails(hospitalisationV)" ><mat-icon >info</mat-icon></button></td>
    
  </ng-container>


  <tr  mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<!-- 
<table class = "table table-hover">
    <thead>
        <tr class="bg-primary">
           <th>Id</th>
           <th>DDH</th>
           <th>DFH</th>
            <th> Num Lit </th>
            <th> Num Chambre </th>
            <th> Nom Unite </th>
            <th>Traitement</th>
            <th> Patient</th>
            <th> Medecin </th>
            <th> Actions </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let hospitalisationV of hospitalisationVs "  >
          
            <th class ="hidden"> {{ hospitalisationV.hospitalisation.id }} </th>
            <th> {{ hospitalisationV.hospitalisation.date_debut_hosp |date: 'dd/MM/yyyy'}} </th>
            <th> {{ hospitalisationV.hospitalisation.date_fin_hosp |date: 'dd/MM/yyyy'}} </th>
            <td> {{  hospitalisationV.hospitalisation.numLit }} </td>
            <th> {{ hospitalisationV.hospitalisation.numChambre}} </th>
            <th> {{ hospitalisationV.hospitalisation.nomUnite }} </th>
            <th> {{ hospitalisationV.hospitalisation.traitement }} </th>
            <td> {{hospitalisationV.visitePM.patient.name}} </td>
            <td> {{hospitalisationV.visitePM.medecinPH.medecin.name}} </td>
          
          
         <td>
                  <mat-icon  color="primary" (click) = "updateHospitalisation(hospitalisationV.hospitalisation)">update</mat-icon>
                  <mat-icon color="accent" (click) ="deleteHospitalisation(hospitalisationV.id)">delete</mat-icon>
                  <mat-icon color="warn" (click) = "HospitalisationDetails(hospitalisationV)" >info</mat-icon>
                
            </td>
        </tr>
    </tbody>
</table> -->
</div> 
