<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

<div class="container" style="background-color: light; margin-left: 0% " >
 <DIV CLASS="container"> <button class="bnt btn-primary" style="margin-left: 85%; margin-top: 2%"><a routerLink="/addHospitalisation"
                        style="color: black;font-family: 'Script MT Bold'  "><i class="bi bi-person-plus-fill"></i>  Ajouter Hospitaliser</a></button>

<h1 style="color: blue; font-family: 'Georgia', Times, serif; margin-left: 30%;" >    Liste des Hospitalisations</h1></DIV>
  <hr STYLE="color: yellow; ">
  <div>
    <input type="search" (ngModelChange)="Search(key.value)" #key="ngModel" ngModel
    name="key" id="searchName" class="form-control mr-sm-2" placeholder="Search patient..." required> 
  </div><br>
<table class = "table table-hover">
    <thead class="thead-dark">
        <tr>
           <th>Id</th>
           <th>DDH</th>
           <th>DFH</th>
            <th> Num Lit </th>
            <th> Num Chambre </th>
            <th> Nom Unite </th>
            <th>Traitement</th>
            <th> Patient</th>
            <th> Medecin </th>
            <th> Actions </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let hospitalisationV of hospitalisationVs "  >
          
            <th class ="hidden"> {{ hospitalisationV.hospitalisation.id }} </th>
            <th> {{ hospitalisationV.hospitalisation.date_debut_hosp |date: 'dd/MM/yyyy'}} </th>
            <th> {{ hospitalisationV.hospitalisation.date_fin_hosp |date: 'dd/MM/yyyy'}} </th>
            <td> {{  hospitalisationV.hospitalisation.numLit }} </td>
            <th> {{ hospitalisationV.hospitalisation.numChambre}} </th>
            <th> {{ hospitalisationV.hospitalisation.nomUnite }} </th>
            <th> {{ hospitalisationV.hospitalisation.traitement }} </th>
            <td> {{hospitalisationV.visitePM.patient.name}} </td>
            <td> {{hospitalisationV.visitePM.medecinPH.medecin.name}} </td>
          
          
         <td>
                  <button (click) = "updateHospitalisation(hospitalisationV.hospitalisation)" class = "btn btn-primary"> <i class="bi bi-pencil-square"></i></button>
                <button (click) = "deleteHospitalisation(hospitalisationV.id)" class = "btn btn-danger" style="margin-left: 10px"> <i class="bi bi-trash-fill"></i></button>
                <button (click) = "HospitalisationDetails(hospitalisationV)" class = "btn btn-info" style="margin-left: 10px"><i class="bi bi-zoom-in"></i></button>
            </td>
        </tr>
    </tbody>
</table>
</div> 
