

<form [formGroup]="addAnls" novalidate (ngSubmit)="onSubmit()" class="formm">
  <mat-card class="shipping-card">
    <mat-card-header>
      <button mat-icon-button (click)="onClose()" style="margin-left: 45%;" color="basic" aria-label="Example icon button with a menu icon">
        <mat-icon>close</mat-icon>
      </button>
          <mat-card-title style="color: blue; font-family: 'Georgia', Times, serif;">Ajouter des analyses</mat-card-title>
       
        
          
       
      
     
    </mat-card-header>
    <mat-card-content >
      <div class="row">
        <div class="col">
          
            
            <mat-form-field  class="full-width">
              
              <input matInput [matDatepicker]="picker1" placeholder="Date des analyses" formControlName="dateAnls">
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
          
        </div>
      </div>
     
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <textarea matInput  placeholder="Nom des analyses" formControlName="nomAnls"></textarea>
            <mat-error *ngIf="addAnls.controls['nomAnls'].hasError('required')">
              nom analyse est <strong>Obligatoire</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <textarea matInput  placeholder="Resultat des analyses" formControlName="res_Ana"></textarea>
            
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput  placeholder="Nom d'aboratoire" formControlName="nom_labo">
            <mat-error *ngIf="addAnls.controls['nom_labo'].hasError('required')">
              dosage est <strong>Obligatoire</strong>
            </mat-error>
          </mat-form-field>
        </div>

        <!-- <div class="col">
          <mat-form-field class="full-width">
            <input type="file" placeholder="Resultat d'analyse" accept="image/*,.pdf" formControlName="resul_ana">
           
          </mat-form-field>
        </div> -->
      </div>
     
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Ajouter</button>
    </mat-card-actions>
  </mat-card>
</form>



<!-- 

<!DOCTYPE html>
<html>
<head>

</head>
<body>

  <mat-toolbar>
    <span style=" margin-left: 30%;font-family: 'Georgia', Times, serif; color: blue;">Ajouter Analyse</span>
    <button mat-icon-button (click)="onClose()" style="margin-left: 49%;" color="basic" aria-label="Example icon button with a menu icon">
      <mat-icon>close</mat-icon>
    </button>
   
  </mat-toolbar>


<div class="container">
   
  <form action="/action_page.php" (ngSubmit) = "onSubmit()">
  <div class="row">
    <div class="col-25">
      <label for="nomAnls" class="required" style="color: blue;font-family: 'Georgia'">Nom d'analyse</label>
    </div>
    <div class="col-75">
      <input type="text" class="form-control"  id = "nomAnls" placeholder="Nome d'annalyse"
      [(ngModel)] = "annalyseV.annalyse.nomAnls" name = "nomAnls">
     
    </div>
  </div>
  
  
 
 
  
  

            

        <div class="row">
            <div class="col-25">
              <label for="nom_labo" style="color: blue;font-family: 'Georgia'">Nom de laboratoire</label>
            </div>
            <div class="col-75">
                <input type="text"  class="form-control"id = "nom_labo" placeholder="Nome de laboratoire"
                [(ngModel)] = "annalyseV.annalyse.nom_labo" name = "nom_labo" >
            </div>
          </div>

  <div class="row">

   
    <input type="submit" style="margin-left: 50%;" value="Ajouter" mat-dialog-close>
   
   
   
  </div>
  </form>
</div>

</body>
</html> -->
