
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

<div class="container" style="background-color: light;  " >

  <div class="col-md-6 offset-md-3 " STYLE="margin-left: 10% ; width: 45%"   ><BR>
    <h3 style="margin-left: 5%; font-family: 'Georgia', Times, serif; color: blue;" > Mettre a jour les Information de Patient </h3>
    <hr STYLE="color: yellow; ">
    <form (ngSubmit) = "onSubmit()">

      <div class="form-group">
        <input type="text" class ="form-control" id = "name" placeholder="Nome de Patient"
               [(ngModel)] = "patient.name" name = "name">
      </div>

      <div class="form-group">

        <input type="text" class ="form-control" id = "phone" placeholder="Age de Patient"
               [(ngModel)] = "patient.phone" name = "phone">
      </div>

      <div class="form-group">

        <input type="text" class ="form-control" id = "date_naissance" placeholder="Date de naissance"
               [(ngModel)] = "patient.age" name = "age">
      </div>
      <div class="form-group">

        <input type="text" class ="form-control" id = "sexe" placeholder="Patient Sexe"
               [(ngModel)] = "patient.sexe" name = "sexe">
      </div>
      <div class="form-group">

        <input  type="text" class ="form-control" id = "adresse" placeholder="Patient Adresse"
                [(ngModel)] = "patient.adresse" name = "adresse">

      </div>
      <div class="form-group">

        <input  type="text" class ="form-control" id = "antcedent" placeholder="Patient Antecedent"
                [(ngModel)] = "patient.antecedent"name = "antcedent">

      </div>
     
      <button style="margin-bottom: 5%; margin-left: 80%;" class = "btn btn-success" type ="submit">Update</button>

    </form>
  </div>
</div> 



<!-- <form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()">
  
    
  
   <mat-card class="shipping-card">
     <mat-card-header>
       <mat-card-title style="color: blue; font-family: 'Georgia', Times, serif;">Modifier un Patient</mat-card-title>
         <button mat-icon-button (click)="onClose()" style="margin-left: 54%;" color="basic" aria-label="Example icon button with a menu icon">
           <mat-icon>close</mat-icon>
         </button>
      
     </mat-card-header>
     <mat-card-content>
       <div class="row">
         <div class="col">
           <mat-form-field class="full-width">
             <input
               matInput
               placeholder="Nom et Prénom"
               formControlName="name.value"
              
               name="name"
             />
           </mat-form-field>
         </div>
       </div>
       <div class="row">
         <div class="col">
           <mat-form-field class="full-width">
             <input
               matInput
               placeholder="Téléphone"
               formControlName="phone.value"
               
               name="phone"
             />
             <mat-error
               *ngIf="addressForm.controls['phone'].hasError('required')"
             >
               Numéro de téléphone est <strong>obligatoire</strong>
             </mat-error>
           </mat-form-field>
         </div>
         <div class="col">
           <mat-form-field class="full-width">
             <input
               matInput
               type="number"
               placeholder="Age"
               formControlName="age.value"
               
               name="age"
             />
 
             <mat-error
               *ngIf="
                 addressForm.controls['age'].hasError('required')
               "
             >
               date de naissance est <strong>obligatoire</strong>
             </mat-error>
           </mat-form-field>
         </div>
       </div>
       <div class="row">
         <div class="col">
           <mat-form-field class="full-width">
             <mat-select
               placeholder="Sexe"
               formControlName="sexe.value"
               
               name="sexe"
             >
               <mat-option value="Homme">Homme</mat-option>
               <mat-option value="Femme">Femme</mat-option>
             </mat-select>
             <mat-error
               *ngIf="addressForm.controls['sexe'].hasError('required')"
             >
               Sexe est <strong>obligatoire</strong>
             </mat-error>
           </mat-form-field>
         </div>
       </div>
 
       <div class="row">
         <div class="col">
           <mat-form-field class="full-width">
             <textarea
               matInput
               placeholder="Maladie antecedent"
               formControlName="antecedent.value"
               
               name="antecedent"
             ></textarea>
             
             
           </mat-form-field>
         </div>
         <div class="col">
           <mat-form-field class="full-width">
             <input
               matInput
               placeholder="Adresse"
               formControlName="adresse.value"
               
               name="adresse"
             >
             
             <mat-error
               *ngIf="addressForm.controls['adresse'].hasError('required')"
             >
               Adresse est <strong>Obligatoire</strong>
             </mat-error>
           </mat-form-field>
         </div>
        
       </div>
       
     </mat-card-content>
     <mat-card-actions>
       <button mat-raised-button color="primary"  style="margin-left: 0%;"type="submit" >Ajouter</button>
     </mat-card-actions>
   </mat-card>
 </form>  -->