


    <div class="col-xl-10 col-md-10" >
        <div class="container">&nbsp;</div>
    <div class="container">&nbsp;</div>
        <mat-card class="example-card"  >
            <div id="demo">
            <div class="row" >
                <div class="col-sm-6">
                    <mat-card-title style="text-align: left;">  {{ordonancemv.visitepm.medecinPH.medecin.name}} </mat-card-title>
                    <mat-card-subtitle style="text-align: left;"> {{ordonancemv.visitepm.medecinPH.medecin.specialicite}}</mat-card-subtitle>
                    <mat-card-subtitle style="text-align: left;">{{ordonancemv.visitepm.medecinPH.medecin.email}}</mat-card-subtitle>
                    <mat-card-subtitle style="text-align: left;">{{ordonancemv.visitepm.medecinPH.medecin.numPhone}}</mat-card-subtitle>
               </div>
               <!-- <div class="col-sm-2">
                <div class="image">
                    <img mat-card-image img src="assets/images/6.jpg"></div>
               </div> -->
              
               <div class="col-sm-6" >
                <div class="container">&nbsp;</div>
                   <div class="image">
                    <img mat-card-image img src="assets/images/logo.jpeg"></div>
               </div></div>
                   <!-- <div class="col-sm-5">
                    <mat-card-title style="text-align: right;">  {{ordonancemv.visitepm.medecinPH.medecin.name}} </mat-card-title>
                    <mat-card-subtitle style="text-align: right;"> {{ordonancemv.visitepm.medecinPH.medecin.specialicite}}</mat-card-subtitle>
                    <mat-card-subtitle style="text-align: right;">{{ordonancemv.visitepm.medecinPH.medecin.email}}</mat-card-subtitle>
                    <mat-card-subtitle style="text-align: right;">{{ordonancemv.visitepm.medecinPH.medecin.numPhone}}</mat-card-subtitle>
                    
                   </div> -->
                
                <hr style="background-color: blue;border-radius: 10rem;border: 2;">
                <mat-card-content>
                   
                    <div class="row" >
                        <div class="col-sm-3"></div>
                        <div class="col-sm-4">
                            <mat-card-title style="text-align: right;color : red;text-decoration: underline;"> Ordonnance &nbsp;وصفة طبية</mat-card-title>
                        </div>
                    <div class="col-sm-4">
                        <mat-card-subtitle style="text-align: right;color: black;font-family: 'Georgia';font-size: 16px;"> Date : {{ordonancemv.ordonance.date_ord|date: 'dd/MM/yyyy'}} </mat-card-subtitle>
                    </div></div>
                    <div class="container">&nbsp;</div>
                <div class="row" >
                    <div class="col-sm-6">
                        <mat-card-subtitle style="text-align: left;color: black;font-family: 'Georgia';font-size: 16px;">Nom du Patient: {{ordonancemv.visitepm.patient.name}}</mat-card-subtitle>
                    </div>
                    <div class="col-sm-6"> <mat-card-subtitle style="text-align: left;color: black;font-family: 'Georgia';font-size: 16px;">Age: {{ordonancemv.visitepm.patient.age}}</mat-card-subtitle></div>
                    
                </div>
                
                <div class="container">&nbsp;</div>
                
                <div class="row"  class="angular-with-newlines" *ngFor="let item of ordonancemv.medicament">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-8"><mat-card-subtitle style="text-align: center;color: black;font-family: 'Georgia';font-size: 16px;">{{item.nomMedc}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{item.manCos}}  </mat-card-subtitle> </div>
                    <div class="col-sm-2">
                        <mat-card-subtitle style="text-align:  left;color: black;font-family: 'Georgia';font-size: 16px;">  </mat-card-subtitle> 
                    </div>
                    
                </div>
                <div class="container">&nbsp;</div>
                <div  class="row">
                    <div class="col-sm-6">
                        <mat-card-subtitle style="text-align:  left;color: black;font-family: 'Georgia';font-size: 16px;">Prochaine Rend-vous :{{ordonancemv.ordonance.datePrdv|date: 'dd/MM/yyyy'}} </mat-card-subtitle> </div>
                    
                        <div class="col-sm-6">
                    <mat-card-subtitle style="text-align: center;">Dr.signature: </mat-card-subtitle></div>
                    
                </div>
            </mat-card-content>
           
               <div class="noprint">
                <div class="row" >
                    <div class="col-sm-6">
                        <button  mat-mini-fab style=" margin-left: 0%;" color="primary" (click) = "Retour()" aria-label="Button that displays a tooltip when focused or hovered over"  matTooltip="Page précédent"><mat-icon >
                            arrow_back
                          </mat-icon></button>
                    </div>
                    <div class="col-sm-6">
                        <i class="far fa-print">
                            
                            <button 
                            printSectionId="demo"
                            [useExistingCss]="true"
                                    ngxPrint style=" margin-left: 80%;" class = "btn btn-success" type ="submit">
                                      Imprimer</button>
                        </i>
                    </div>
                    </div></div>
                    
            <mat-card-footer >
                <hr class ="gir" style="background-color: black;border-radius: 10rem;border: 2;">
                    <mat-card-subtitle style="text-align: center;">يرجى إحضار الوصفة في الموعد القادم</mat-card-subtitle>
                    <mat-card-subtitle style="text-align: center;"> Veuillez rapportez l'ordonnance a la prochaine visite </mat-card-subtitle>
            </mat-card-footer></div>
           
        </mat-card>
    </div>