<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

<div class="container" style="background-color:light; margin-left: 0% " >
 <DIV CLASS="container">
    <!-- <button class="bnt btn-primary" style="margin-left: 80%; margin-top: 2%"><a routerLink="/addVisite"
                        style="color: black;font-family: 'Script MT Bold'  "><i class="bi bi-person-plus-fill"></i> Ajouter Visite</a></button> -->

<h1 style="color: blue; font-family: 'Georgia', Times, serif; margin-left: 30%;" >    Liste des Visites</h1></DIV>
  <hr STYLE="color: yellow; ">
  <div>
    <input type="search" (ngModelChange)="Search(key.value)" #key="ngModel" ngModel
    name="key" id="searchName" class="form-control mr-sm-2" placeholder="Search patient..." required> 
  </div><br>
<table class = "table table-hover">
    <thead class="thead-dark">
        <tr>
           
            <th > Id</th>
            
            <th >DVisite</th>
          <th >OVisite</th>
          <th >TVisite</th> 
            <th >PConsult</th>
          <th >DDConsultation</th>
          <th >Patient</th>
          <th >Medecin</th>
         
            <th >Actions </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let visitepm of visitepms "  >
          
            
            <td > {{ visitepm.visite.id }} </td>
          <td > {{visitepm.visite.date_visit|date: 'dd/MM/yyyy'}} </td>
          <td > {{visitepm.visite.objet_visit}} </td>
          <td > {{ visitepm.visite.type_visite}} </td> 
          <td > {{visitepm.visite.prix_cons}} </td>
          <td > {{visitepm.visite.date_der_con |date: 'dd/MM/yyyy'}} </td>
          <td>  {{visitepm.patient.name}}</td>
          <td>  {{visitepm.medecinPH.medecin.name}}</td>
     
         <td>

                <!-- <button (click) = "updateVisite(visitepm.visite)" class = "btn btn-primary"> <i class="bi bi-pencil-square"></i></button> -->
                <button (click) = "updateVisite(visitepm.visite)" mat-mini-fab color="primary" aria-label="Example icon button with a delete icon">
                  <mat-icon>update</mat-icon></button>

                <!-- <button (click) = "deleteVisite(visitepm.id)" class = "btn btn-danger" style="margin-left: 5px"> <i class="bi bi-trash-fill"></i></button> -->
                <button (click) = "deleteVisite(visitepm.id)" mat-mini-fab color="accent" aria-label="Example icon button with a delete icon">
                  <mat-icon>delete</mat-icon>
                </button>
                <!-- <button (click) = "detalVisite(visitepm)" class="btn btn-light" style="margin-left: 5px"> <i class="bi bi-three-dots"></i></button> -->
                <button  mat-mini-fab color="warn" (click) = "detalVisite(visitepm)"  aria-label="Example icon button with a home icon">
                  <mat-icon>info</mat-icon>
                </button>
                
            </td>
        </tr>
    </tbody>
</table>
</div> 

