table {
    width: 100%;
  }

 

  .centreVerticalement {
    display: inline-block;
    vertical-align: middle;
    float: none;
   }

   .card-container{
    width: 100%;

   height: 150%;
   background-image: url("/../assets/images/au.jpg");
   background-size: cover;
   background-position-y: -20vh;
}