
  <div class="row">
    <div class="container">&nbsp;</div>
    <div class="container">&nbsp;</div>
    <div class="col-sm-10">
      <p style="color: blue; font-family: 'Georgia', Times, serif; text-align: center;font-style: inherit;font-size: 36px;" >Dossier du Patient:{{this.visitepm.patient.name}}</p>
    </div>
    <div class="col-sm-2">
      <button  mat-mini-fab color="primary" style="margin-left: 80%;" (click) = "Retour()" aria-label="Button that displays a tooltip when focused or hovered over"  matTooltip="Page précédent"><mat-icon >
        arrow_back
      </mat-icon></button>
    </div>
  </div>
    
   
<div class="row">
  <div class="container">&nbsp;</div>
    <div class="col-sm-6">
        <mat-card class="example-card">
            <mat-card-title>Visites </mat-card-title>
            
            <div class="row">
                <div class="col-sm-9">
            <mat-form-field >
              <input
                matInput
               
                placeholder="Recherche par nom..." #visitepm.patient.name (keyup)="findPatientByName(name)"
               
              />
              </mat-form-field> </div>
              <div class="col-sm-2">
                <button  mat-mini-fab color="primary" style="margin-left: 95%; margin-top: 2%"   (click)=" addVisite()" aria-label="Button that displays a tooltip when focused or hovered over"  matTooltip="ajouter un nouveau patient">
              <mat-icon>add</mat-icon>
            </button></div>
          </div>
  
<div class="mat-elevation-z8">

<table mat-table [dataSource]="dataSource2"  matSort>

  <ng-container matColumnDef="date_visit">
    <th style="color: blue;font-family: 'Georgia';font-size: 14px;" mat-header-cell *matHeaderCellDef>Date </th>
    <td mat-cell *matCellDef="let visitepm"> {{visitepm.visite.date_visit|date: 'dd/MM/yyyy'}}</td>
    
  </ng-container>
  <!-- <ng-container matColumnDef="patient.name">
    <th style="color: blue;font-family: 'Georgia';font-size: 14px;" mat-header-cell *matHeaderCellDef>Patient</th>
    <td mat-cell *matCellDef="let visitepm"> {{visitepm.patient.name}} </td>
    
  </ng-container> -->
 
  



  <!-- <ng-container matColumnDef="medecinPH.medecin.name">
    <th style="color: blue;font-family: 'Georgia';font-size: 14px;" mat-header-cell *matHeaderCellDef>Medecin</th>
    <td  mat-cell *matCellDef="let visitepm"> {{visitepm.medecinPH.medecin.name}}</td>
    
  </ng-container> -->
  <ng-container matColumnDef="type_visite">
    <th style="color: blue;font-family: 'Georgia';font-size: 14px;" mat-header-cell *matHeaderCellDef> Type de visite</th>
    
    <td mat-cell *matCellDef="let visitepm">  {{ visitepm.visite.type_visite}} </td>
  </ng-container>
  
  
 
 
  
  <ng-container matColumnDef="Actions">
    <th style="color: blue;font-family: 'Georgia';font-size: 14px;" mat-header-cell *matHeaderCellDef > &nbsp; &nbsp;&nbsp;&nbsp; Actions </th>
    <td mat-cell *matCellDef="let visitepm">
        &nbsp; &nbsp;&nbsp;&nbsp;
      <!-- <button  mat-mini-fab color="warn" (click) = "updateVisite(visitepm.visite)"  aria-label="Button that displays a tooltip when focused or hovered over"  matTooltip="modifier">
      <mat-icon >update</mat-icon></button> -->
      <!-- <button  mat-mini-fab color="accent" (click) = "deleteVisite(visitepm.id)" aria-label="Button that displays a tooltip when focused or hovered over"  matTooltip="supprimer"><mat-icon >delete</mat-icon></button>&nbsp; -->
      <button  mat-mini-fab color="primary" (click) = "detalVisite(visitepm)" aria-label="Button that displays a tooltip when focused or hovered over"  matTooltip="info"><mat-icon >info</mat-icon></button></td>
    
  </ng-container>


  <tr  mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator></div>
            <mat-card-footer>SISTA.sarl</mat-card-footer>
        </mat-card>
    </div>
    <div class="col-sm-6">
        <mat-card class="example-card">
            <mat-card-title>Analyses</mat-card-title>
            <div class="row">
                <div class="col-sm-9">
            <mat-form-field >
              <input
                matInput
               
                placeholder="Recherche par nom..." #name (keyup)="findPatientByName(name)"
               
              />
              </mat-form-field> </div>
              <div class="col-sm-2">
                <button  mat-mini-fab color="primary" style="margin-left: 95%; margin-top: 2%"   (click)="AddAnls()" aria-label="Button that displays a tooltip when focused or hovered over"  matTooltip="ajouter un nouveau patient">
              <mat-icon>add</mat-icon>
            </button></div>
          </div>
          <!-- <div *ngIf="annalyse.length==null">le patient : {{visitepm.patient.name }} ne fait pas des annalyses </div> -->
  <div class="mat-elevation-z8" >
    <table mat-table [dataSource]="annalyse" matSort>
    
      
      <ng-container matColumnDef="dateAnls">
        <th style="color: blue;font-family: 'Georgia';font-size: 14px;" mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
        <td mat-cell *matCellDef="let annalyseV"> {{ annalyseV.annalyse.dateAnls |date: 'dd/MM/yyyy'}} </td>
        
      </ng-container>
    
        <!-- <ng-container matColumnDef="patient.name">
            <th style="color: blue;font-family: 'Georgia';font-size: 14px;" mat-header-cell *matHeaderCellDef mat-sort-header>Patient</th>
            <td mat-cell *matCellDef="let  annalyseV"> {{ annalyseV.visitePM.patient.name }} </td>
            
          </ng-container> -->
      
        <ng-container matColumnDef="nomAnls">
          <th style="color: blue;font-family: 'Georgia';font-size: 14px;" mat-header-cell *matHeaderCellDef mat-sort-header>Analyses</th>
          <td mat-cell *matCellDef="let annalyseV"> {{ annalyseV.annalyse.nomAnls }} </td>
          
        </ng-container>
      
        <!-- <ng-container matColumnDef="nom_labo">
          <th style="color: blue;font-family: 'Georgia';font-size:14px;" mat-header-cell *matHeaderCellDef mat-sort-header>l'aboratoire</th>
          <td mat-cell *matCellDef="let annalyseV"> {{ annalyseV.annalyse.nom_labo }} </td>
          
        </ng-container> -->
       
      
       
        
        <ng-container matColumnDef="Actions">
          <th style="color: blue;font-family: 'Georgia';font-size: 14px;" mat-header-cell *matHeaderCellDef > Actions </th>
          <td mat-cell *matCellDef="let annalyseV">
            <!-- <button  mat-mini-fab color="warn" (click) = "updateAnnalyse(annalyseV.annalyse)" aria-label="Example icon button with a home icon">
            <mat-icon >update</mat-icon></button>&nbsp;
            <button  mat-mini-fab color="accent" (click) = "deleteAnnalyse(annalyseV.id)"><mat-icon >delete</mat-icon></button>&nbsp; -->
            <button  mat-mini-fab color="primary" (click) = "annalyseDetail(annalyseV)" ><mat-icon >info</mat-icon></button>
        </td>
          
        </ng-container>
      
      
        <tr  mat-header-row *matHeaderRowDef="displayedColumnsA"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsA;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator></div>
            <mat-card-footer>SISTA.sarl</mat-card-footer>
        </mat-card>
    </div>
    
</div>  
<div class="row">
    <div class="container">&nbsp;</div>
    <div class="container">&nbsp;</div>
    <div class="col-sm-6">
        <mat-card class="example-card">
            <mat-card-title>Hospitalisations</mat-card-title>
            <div class="row">
                <div class="col-sm-9">
            <mat-form-field >
              <input
                matInput
               
                placeholder="Recherche par nom..." #name (keyup)="findPatientByName(name)"
               
              />
              </mat-form-field> </div>
              <div class="col-sm-2">
                <button  mat-mini-fab color="primary" style="margin-left: 95%; margin-top: 2%"   (click)=" AddHosp()" aria-label="Button that displays a tooltip when focused or hovered over"  matTooltip="ajouter un nouveau patient">
              <mat-icon>add</mat-icon>
            </button></div>
          </div>
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="hospitalisation" class="mat-elevation-z8">
    
      
      <!-- <ng-container matColumnDef="Id">
        <th style="color: blue;font-family: 'Georgia';font-size: 16px;" mat-header-cell *matHeaderCellDef> Id &nbsp;<i class="fa fa-sort"></i></th>
        <td mat-cell *matCellDef="let hospitalisationV" class ="hidden"> {{ hospitalisationV.hospitalisation.id }} </td>
      </ng-container> -->
      <!-- <ng-container matColumnDef="patient.name">
        <th style="color: blue;font-family: 'Georgia';font-size: 16px;" mat-header-cell *matHeaderCellDef>Patient</th>
        <td  mat-cell *matCellDef="let hospitalisationV">{{hospitalisationV.visitePM.patient.name}}</td>
        
      </ng-container> -->
      <ng-container matColumnDef="date_debut_hosp">
        <th style="color: blue;font-family: 'Georgia';font-size: 16px;" mat-header-cell *matHeaderCellDef>Date debut</th>
        <td mat-cell *matCellDef="let hospitalisationV"> {{ hospitalisationV.hospitalisation.date_debut_hosp |date: 'dd/MM/yyyy'}} </td>
        
      </ng-container>
    
      <ng-container matColumnDef="date_fin_hosp">
        <th style="color: blue;font-family: 'Georgia';font-size: 16px;" mat-header-cell *matHeaderCellDef>Date fin</th>
        <td mat-cell *matCellDef="let hospitalisationV"> {{ hospitalisationV.hospitalisation.date_fin_hosp |date: 'dd/MM/yyyy'}} </td>
        
      </ng-container>
    
      
      <!-- <ng-container matColumnDef="numLit">
        <th style="color: blue;font-family: 'Georgia';font-size: 16px;" mat-header-cell *matHeaderCellDef>Lit</th>
        <td mat-cell *matCellDef="let hospitalisationV"> {{  hospitalisationV.hospitalisation.numLit }} </td>
      </ng-container>
      <ng-container matColumnDef="numChambre">
        <th style="color: blue;font-family: 'Georgia' ;font-size: 16px;" mat-header-cell *matHeaderCellDef>Chambre</th>
        <td mat-cell *matCellDef="let hospitalisationV"> {{ hospitalisationV.hospitalisation.numChambre}} </td>
        
      </ng-container>
      <ng-container matColumnDef="nomUnite">
        <th style="color: blue;font-family: 'Georgia';font-size: 16px;" mat-header-cell *matHeaderCellDef> Unite</th>
        <td mat-cell *matCellDef="let hospitalisationV"> {{ hospitalisationV.hospitalisation.nomUnite }} </td>
        
      </ng-container> -->
      <!-- <ng-container matColumnDef="traitement">
        <th style="color: blue;font-family: 'Georgia';font-size: 16px;" mat-header-cell *matHeaderCellDef>Traitement</th>
        <td mat-cell *matCellDef="let hospitalisationV"> {{ hospitalisationV.hospitalisation.traitement }} </td>
        
      </ng-container>
      
      <ng-container matColumnDef="medecin.name">
        <th style="color: blue;font-family: 'Georgia';font-size: 16px;" mat-header-cell *matHeaderCellDef>Medecin</th>
        <td  mat-cell *matCellDef="let hospitalisationV">{{hospitalisationV.visitePM.medecinPH.medecin.name}}</td>
        
      </ng-container> -->
      <ng-container matColumnDef="Actions">
        <th style="color: blue;font-family: 'Georgia';font-size: 16px;" mat-header-cell *matHeaderCellDef > Actions </th>
        <td mat-cell *matCellDef="let hospitalisationV">
          <!-- <button  mat-mini-fab color="warn" (click) = "updateHospitalisation(hospitalisationV.hospitalisation)"  aria-label="Example icon button with a home icon">
          <mat-icon >update</mat-icon></button>&nbsp; -->
          <!-- <button  mat-mini-fab color="accent" (click) = "deleteHospitalisation(hospitalisationV.id)"><mat-icon >delete</mat-icon></button>&nbsp; -->
          <button  mat-mini-fab color="primary" (click) = "HospitalisationDetails(hospitalisationV)" ><mat-icon >info</mat-icon></button></td>
        
      </ng-container>
    
    
      <tr  mat-header-row *matHeaderRowDef="displayedColumnsH"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsH;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator></div>
            <mat-card-footer>SISTA.sarl</mat-card-footer>
        </mat-card>
    </div>
    <div class="col-sm-6">
        <mat-card class="example-card">
            <mat-card-title>Ordonnances</mat-card-title>
                <div class="row">
                    <div class="col-sm-9">
                <mat-form-field >
                  <input
                    matInput
                   
                    placeholder="Recherche par nom..." #name (keyup)="findPatientByName(name)"
                   
                  />
                  </mat-form-field> </div>
                  <div class="col-sm-2">
                    <button  mat-mini-fab color="primary" style="margin-left: 95%; margin-top: 2%"   (click)=" AddOrd()" aria-label="Button that displays a tooltip when focused or hovered over"  matTooltip="ajouter un nouveau patient">
                  <mat-icon>add</mat-icon>
                </button></div>
              </div>
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="ordonnance" matSort>
    
      
    
      <ng-container matColumnDef="date_ord">
        <th style="color: blue;font-family: 'Georgia';font-size:14px;" mat-header-cell *matHeaderCellDef mat-sort-header> Date</th>
        <td mat-cell *matCellDef="let ordonancemv"> {{ ordonancemv.ordonance.date_ord |date: 'dd/MM/yyyy'}} </td>
        
      </ng-container>
      <!-- <ng-container matColumnDef="patient.name">
        <th style="color: blue;font-family: 'Georgia';font-size: 14px;" mat-header-cell *matHeaderCellDef mat-sort-header>Patient</th>
        <td mat-cell *matCellDef="let ordonancemv"> {{ordonancemv.visitepm.patient.name}} </td>
        
      </ng-container> -->
    
     
      <!-- <ng-container matColumnDef="nomMedc">
        <th style="color: blue;font-family: 'Georgia';font-size: 14px;" mat-header-cell *matHeaderCellDef mat-sort-header>Medicament</th>
        <td  mat-cell *matCellDef="let ordonancemv">{{ordonancemv.medicament.nomMedc }}</td>
        
      </ng-container> -->
      <!-- <ng-container matColumnDef="medecin.name">
        <th style="color: blue;font-family: 'Georgia';font-size: 14px;" mat-header-cell *matHeaderCellDef mat-sort-header> Medecin</th>
        <td mat-cell *matCellDef="let ordonancemv"> {{ordonancemv.visitepm.medecinPH.medecin.name}} </td>
      </ng-container> -->
     
      
      <ng-container matColumnDef="Actions">
        <th style="color: blue;font-family: 'Georgia';font-size: 14px;" mat-header-cell *matHeaderCellDef > Actions </th>
        <td mat-cell *matCellDef="let ordonancemv">
          <!-- <button  mat-mini-fab color="warn" (click) = "updateOrdonance(ordonancemv.ordonance)"  aria-label="Example icon button with a home icon">
          <mat-icon >update</mat-icon></button>&nbsp;
          <button  mat-mini-fab color="accent" (click) = "deleteOrdonance(ordonancemv.id)"><mat-icon >delete</mat-icon></button>&nbsp; -->
          <button  mat-mini-fab color="primary" (click) = "ordoranceDetails(ordonancemv)" ><mat-icon >info</mat-icon></button></td>
        
      </ng-container>
    
    
      <tr  mat-header-row *matHeaderRowDef="displayedColumnsO"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsO;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator></div>
            <mat-card-footer>SISTA.sarl</mat-card-footer>
        </mat-card>
    </div>
</div>  
