<mat-toolbar>
   GCM.SISTA 
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav mode="side" opened> 
      <img class="avatar mat-elevation-z8" src="">
      <h4 class="name">Edje Jedou</h4>
      <p class="designation">GCM.SISTA</p>

      <mat-divider></mat-divider>

      <button mat-button class="menu-button">
          <mat-icon>home</mat-icon>
          <span>Home</span>

      </button>
      <button mat-button class="menu-button">
        <mat-icon>Person</mat-icon>
        <span>Patient</span>

    </button>


    </mat-sidenav>
    <mat-sidenav-content>
      <!-- <div class="content">
           Main content
       </div>-->

    </mat-sidenav-content>
</mat-sidenav-container>