<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

<div class="container" style="background-color: light; margin-left: 0% " >
 <DIV CLASS="container"> 
  <mat-icon style="margin-left: 98%;margin-top: 2%" color="primary" (click) = "Retour()">assignment_return</mat-icon>


<h1 style="color: blue; font-family: 'Georgia', Times, serif; margin-left: 35%;" >    Liste des Ordonances</h1></DIV>
  <hr STYLE="color: yellow; ">
  <div>
    <input type="search" (ngModelChange)="Search(key.value)" #key="ngModel" ngModel
    name="key" id="searchName" class="form-control mr-sm-2" placeholder="Search patient..." required> 
  </div><br>
<table class = "table table-hover" >
    <thead>
        <tr class="bg-primary">
           <th>Id</th>
            <th>Date d'ordonance </th>
            <th> Dosage</th>
            <th>Patient</th> 
            <th>Medicament</th> 
            <th>Medecin</th>
            <th> Actions </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let ordonancemv of ordonancemvs "  >
          
            <th class ="hidden"> {{ ordonancemv.ordonance.id }} </th>
            <td> {{ ordonancemv.ordonance.date_ord |date: 'dd/MM/yyyy'}} </td>
            <td> {{ordonancemv.ordonance.dosage }} </td>
            <td> {{ordonancemv.visitepm.patient.name}}</td>
            <td> {{ordonancemv.medicament.nomMedc }} </td>
            <td> {{ordonancemv.visitepm.medecinPH.medecin.name}}</td>
          <!--<td> <tr *ngFor="let visite of visites"><td>{{visite.id}}</td></tr></td>-->
          <!-- <td><div *ngFor="let item of ordonance.medicements">{{item.nomMedc}}</div></td> -->
         <td>
                <mat-icon  color="primary" (click) = "updateOrdonance(ordonancemv.ordonance)">update</mat-icon>
                  <mat-icon color="accent" (click) = "deleteOrdonance(ordonancemv.id)">delete</mat-icon>
                  <mat-icon color="warn" (click) = "ordoranceDetails(ordonancemv)" >info</mat-icon>
               
            </td>
        </tr>
    </tbody>
</table>
</div> 
