
<form [formGroup]="addVisite" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <button mat-icon-button (click)="onClose()" style="margin-left: 55%;" color="basic" aria-label="Example icon button with a menu icon">
        <mat-icon>close</mat-icon>
      </button>
      <mat-card-title style="color: blue; font-family: 'Georgia', Times, serif;">Ajouter une visite</mat-card-title>
    </mat-card-header>
    <mat-card-content >
      <div class="row">
        <div class="col">
          
            
            <mat-form-field  class="full-width">
              <mat-label>Date de visite</mat-label>
              <input matInput [matDatepicker]="picker1" placeholder="yyyy-mm-dd" formControlName="date_visit">
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
          
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <textarea matInput placeholder="Motif" formControlName="objet_visit"></textarea>
            
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <mat-select  placeholder="Type de visite"  click=" changeVisit()" formControlName="type_visite">
        <mat-option value="Consultation">Consultation</mat-option>
        <mat-option value="Rend-Vous">Rendez-Vous</mat-option>
        
      </mat-select>
            <mat-error *ngIf="addVisite.controls['type_visite'].hasError('required')">
              Type de visite est <strong>Obligatoire</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput type="number" placeholder="Prix de Consultation" formControlName="prix_cons">
            <mat-error *ngIf="addVisite.controls['prix_cons'].hasError('required')">
              Address is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      
      
     
        <div class="col">
          <mat-form-field  class="full-width" >
            <mat-label>Date derénier Consultation</mat-label>
            <input matInput [matDatepicker]="picker2" placeholder="Date derénier Consultation" formControlName="date_der_con">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <!-- <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="effectué" formControlName="effectue">
            
          </mat-form-field>
        </div> -->
        <div class="col">
          <mat-form-field class="full-width">
            
            <mat-select placeholder="Médecin" formControlName="medecinPH">
        
            <mat-option *ngFor = "let item of medecinphs" [value]="item">
                <tr >
                    
                    {{item.medecin.name}} 
                    
            </tr>
            </mat-option>

          </mat-select>
            <mat-error *ngIf="addVisite.controls['medecinPH'].hasError('required')">
              le nom du Medecin visité est <strong>obligatoire</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      
     
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" style="margin-left: 40%;" type="submit">Ajouter</button>
    </mat-card-actions>
  </mat-card>
</form>

 
<!-- 
<!DOCTYPE html>
<html>
<head>

</head>
<body>
    
  <mat-toolbar>
    <span style=" margin-left: 30%;font-family: 'Georgia', Times, serif; color: blue;">Ajouter une visite</span>
    <button mat-icon-button (click)="onClose()" style="margin-left: 47%;" color="basic" aria-label="Example icon button with a menu icon">
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar>
<div class="container">
   
  <form action="/action_page.php" (ngSubmit) = "onSubmit()">
  <div class="row">
    <div class="col-25">
      <label for="date_visit" class="required" style="color: blue;font-family: 'Georgia'">Date de visite</label>
    </div>
    <div class="col-75">
      <input type="date" class="form-control" id = "date_visit" placeholder="Date de  Visite"
      [(ngModel)] = "visitepm.visite.date_visit" name = "date_visit">
      
    </div>
  </div>
  <div class="row">
    <div class="col-25">
      <label for="objet_visit" style="color: blue;font-family: 'Georgia'">Obet visite</label>
    </div>
    <div class="col-75">
      <input type="text"   class="form-control" id = "objet_visit" placeholder="Objet de Visite"
      [(ngModel)] = "visitepm.visite.objet_visit" name = "objet_visit">
    </div>
  </div>
  <div class="row">
    <div class="col-25">
      <label for="type_visite" style="color: blue;font-family: 'Georgia'">Type de visite</label>
    </div>
    <div class="col-75">
      <mat-select id="sexe" class="form-control" id = "type_visite" placeholder="Type de visite"
      [(ngModel)] = "visitepm.visite.type_visite" name = "type_visite">
        <mat-option value="Consultation">Consultation</mat-option>
        <mat-option value="Rend-Vous">Rend-Vous</mat-option>
        
      </mat-select>
    </div>
  </div>
  <div class="row">
    <div class="col-25">
      <label for="prix_cons" style="color: blue;font-family: 'Georgia'">Prix de consultation</label>
    </div>
    <div class="col-75">
      <input type="number"  class="form-control" id = "prix_cons" placeholder="Prix de Consultation"
      [(ngModel)] = "visitepm.visite.prix_cons" name = "prix_cons">
    </div>
  </div>
  
 
  <div class="row">
    <div class="col-25">
      <label for="date_der_con" style="color: blue;font-family: 'Georgia'">Date de derénier consultation</label>
    </div>
    <div class="col-75">
        <input type="date"  class="form-control" id = " date_h_RDV"  placeholder="date Rdv"
        [(ngModel)] = "visitepm.visite.date_der_con"   name = "date_h_RDV">
    </div>
  </div>
  <div class="row">
    <div class="col-25">
      <label for="effectue" style="color: blue;font-family: 'Georgia'">effectué</label>
    </div>
    <div class="col-75">
        <input type="text"  class="form-control" id = " effectue"  placeholder="effectue"
        [(ngModel)] = "visitepm.visite.effectue"   name = "effectue">
    </div>
  </div>
  <div class="row">
    <div class="col-25">
    <label for="medecinPH" style="color: blue;font-family: 'Georgia'" >Medecin visité</label></div>
    <div class="col-75">
        <mat-select   type="text" class ="form-control" id = " M_Id"  placeholder="Nom de Medecin"
        [(ngModel)]="visitepm.medecinPH" name = "M_Id" >
        
       

            <mat-option *ngFor = "let item of medecinphs" [value]="item">
                <tr >
                    
                    {{item.medecin.name}} 
                    
                    
                
            </tr>
            </mat-option>

        </mat-select></div></div>

  <div class="row">
    
    <input type="submit" style="margin-left: 50%;" value="Ajouter" mat-dialog-close>
   
   
  </div>
  </form>
</div>

</body>
</html> 
 -->
