<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

<div class="container" style="background-color: light; margin-left: 10% " >

<div class="col-md-6 offset-md-3 " STYLE="margin-left: 25% ; width: 40%"   >
    <h3 style="margin-left: 20%; font-family: 'Georgia', Times, serif; color: blue;" > Ajouter une Visite </h3>
  <hr STYLE="color: yellow; ">
    <form (ngSubmit) = "onSubmit()">

        <div class="form-group">
            <input type="hidden" class ="form-control" id = "id" placeholder="Identifiant"
                [(ngModel)] = "visitepm.visite.id" name = "id">
        </div>

       

        <div class="form-group">

            <input type="date" class ="form-control" id = "date_visit" placeholder="Date de  Visite"
                [(ngModel)] = "visitepm.visite.date_visit" name = "date_visit">
        </div>


        <div class="form-group">

            <input type="text" class ="form-control" id = "objet_visit" placeholder="Objet de Visite"
                [(ngModel)] = "visitepm.visite.objet_visit" name = "objet_visit">
        </div>
        <div class="form-group">
        <mat-select (selectionChange)="changeVisit()" class ="form-control" id = "TypenVisite" placeholder="Type de visite"
                [(ngModel)] = "visitepm.visite.type_visite" name = "TYPE_Visite">

                <mat-option *ngFor = "let option of options" [value]="option">
                    {{option}}
                </mat-option>
            </mat-select>
        </div>
        <div class="form-group">

            <input type="text" *ngIf="visitepm.visite.type_visite === 'VC'" class ="form-control" id = "prix_cons" placeholder="Prix de Consultation"
                [(ngModel)] = "visitepm.visite.prix_cons" name = "prix_cons">
        </div>
      <div class="form-group">

        <input  type="date" *ngIf="visitepm.visite.type_visite === 'VR'" class ="form-control" id = " date_h_RDV"  placeholder="date Rdv"
        [(ngModel)] = "visitepm.visite.date_der_con"   name = "date_h_RDV">


      </div>
      

    
    
        <mat-select   type="text" class ="form-control" id = " M_Id"  placeholder="Nom de Medecin"
        [(ngModel)]="visitepm.medecinPH" name = "M_Id">

            <mat-option *ngFor = "let item of medecinphs" [value]="item">
                <tr >
                    {{item.id}}
                    {{item.medecin.id}}
                    {{item.medecin.name}} 
                    {{item.medecin.specialicite}}
                    {{item.plage_Horaire.id}}
                    {{item.plage_Horaire.heure_deb}}
                    {{item.plage_Horaire.heure_fin}}
                    
                
            </tr>
            </mat-option>

        </mat-select><br>
        <!-- <select  type="text" class ="form-control" id = " S_Id"  placeholder="id Secretaire"
        [(ngModel)]="secretaire" name = "S_Id">

            <option  *ngFor = "let item of secretaires"  [value]="item">
                <tr>
                    {{item.id}}
                    {{item.nom_sec}} 
                    {{item.email}}
                    {{item.num_tel}}
                
            </tr>
            </option>

        </select><br> -->
   
        
      <button style="margin-bottom: 5%; margin-left: 80%;" class = "btn btn-success" type ="submit">Ajouter</button>
    </form>
</div>
</div>

