<!-- 
<form [formGroup]="addMedc" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <button mat-icon-button (click)="onClose()" style="margin-left: 63%;" color="basic" aria-label="Example icon button with a menu icon">
        <mat-icon>close</mat-icon>
      </button>
      <mat-card-title style="color: blue; font-family: 'Georgia', Times, serif;">Ajouter un Medecin</mat-card-title>
    </mat-card-header>
    <mat-card-content >
     
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Nom et prénom" formControlName="name">
            <mat-error *ngIf="addMedc.controls['name'].hasError('required')">
              Nom et prénom est <strong>Obligatoire</strong>
            </mat-error>
          </mat-form-field>
        </div>
        </div>
        <div class="row">
       
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder=" Specialité" formControlName="specialicite">
            <mat-error *ngIf="addMedc.controls['specialicite'].hasError('required')">
              Specialité est <strong>Obligatoire</strong>
            </mat-error>
            
          </mat-form-field>
        </div>
      
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput type="number" placeholder="Téléphone" formControlName="numPhone">
            <mat-error *ngIf="addMedc.controls['numPhone'].hasError('required')">
              numéro Téléphone est<strong>Obligatoire</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      
     
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Adresse Email" formControlName="email">
            <mat-error *ngIf="addMedc.controls['email'].hasError('required')">
              Adresse Email est<strong>Obligatoire</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            
            <mat-select   placeholder="Plage horaire" formControlName="phoraire">

              <mat-option *ngFor = "let item of phoraires " [value]="item"  >
                  <tr >
                      
                      {{item.heure_deb}}
                      {{item.heure_fin}}
                  
              </tr>
              </mat-option>

           </mat-select>
            
          </mat-form-field>
        </div>
      </div>
      
     
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Ajouter</button>
    </mat-card-actions>
  </mat-card>
</form> -->


<!DOCTYPE html>
<html>
<head>

</head>
<body>

  <mat-toolbar>
    <span style=" margin-left: 30%;font-family: 'Georgia', Times, serif; color: blue;">Ajouter une medecin</span>
    <button mat-icon-button (click)="onClose()" style="margin-left: 43%;" color="basic" aria-label="Example icon button with a menu icon">
        <mat-icon>close</mat-icon>
      </button>

  </mat-toolbar>



<div class="container">
   
  <form action="/action_page.php" (ngSubmit) = "onSubmit()">
  <div class="row">
    <div class="col-25">
      <label for="name" class="required" style="color: blue;font-family: 'Georgia'">Nom et prénom</label>
    </div>
    <div class="col-75">
      <input type="text" class="form-control" id = "Name" placeholder="Nome de Medecin"
      [(ngModel)] = "medecin.name" name = "name">
     
    </div>
  </div>
        <div class="row">
            <div class="col-25">
              <label for="specialicite" style="color: blue;font-family: 'Georgia'">Specialité</label>
            </div>
            <div class="col-75">
                <input type="text"  class="form-control" id = "Specialite" placeholder="Medecin Specialite"
                [(ngModel)] = "medecin.specialicite" name = "specialicite">
            </div>
          </div>

          <div class="row">
            <div class="col-25">
              <label for="numPhon" style="color: blue;font-family: 'Georgia'">Téléphone</label>
            </div>
            <div class="col-75">
                <input type="text"  class="form-control" id = "numPhon" placeholder="Téléphone"
                [(ngModel)] = "medecin.numPhone" name = "numPhon">
            </div>
          </div>
          <div class="row">
            <div class="col-25">
              <label for="email" style="color: blue;font-family: 'Georgia'">Adresse Email</label>
            </div>
            <div class="col-75">
                <input type="text"  class="form-control" id = "email" placeholder="Adresse Email"
                [(ngModel)] = "medecin.email" name = "email">
            </div>
          </div>

          <div class="row">
            <div class="col-25">
              <label for="phoraire" style="color: blue;font-family: 'Georgia'">Plage horaire</label>
            </div>
            <div class="col-75">
                <mat-select  type="text" class ="form-control" id = " Ph_Id"  placeholder="id Phoraire"
                  [(ngModel)]="phoraire" name = "Ph_Id">

            <mat-option *ngFor = "let item of phoraires " [value]="item"  >
                <tr >
                    
                    {{item.heure_deb}}
                    {{item.heure_fin}}
                
            </tr>
            </mat-option>

        </mat-select>
            </div>
          </div>   

  <div class="row">

  
    <input type="submit" style="margin-left: 50%;" value="Ajouter" mat-dialog-close>

   
  </div>
  </form>
</div>

</body>
</html>
