
  <div class="wrapper">
    <div class="sidebar hidden-phone">
    </div>
    <div class="content">
   <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div class="w3-sidebar w3-card " style="width:14%;
color: lightblue; font-weight: bold; "  >
<div > <img src="../assets/5.jpg"  width="200px" height="90px"  style=" box-shadow: rgba(16,18,76,0.66);"></div>
    <ul class="nav navbar-nav" style="margin: 10%;" >
        
        <li class="active"><a routerLink="/listPatient" style="color: blue;font-family: 'Georgia'">Patients</a></li><br><br>
         <br><br>
        <li class="active"><a routerLink="/listLocalisation" style="color: blue;font-family: 'Georgia'">Localisations</a></li> <br><br> 
        <li class="active"><a routerLink="/listVisite" style="color: blue;font-family: 'Georgia'">Visites</a></li> 
                               
        <li class="active"><a routerLink="/listPhoraire"
            style="color: blue;font-family: 'Georgia';margin-bottom: 10%;">Phoraires</a></li>                                   
           
      </ul>
  </div>

    </div>
</div>
