<!-- 
  <div class="wrapper">
    <div class="sidebar hidden-phone">
    </div>
    <div class="content">
   <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div class="w3-sidebar w3-card " style="width:14%;
color: lightblue; font-weight: bold; "  >
<div > <img src="../assets/5.jpg"  width="200px" height="90px"  style=" box-shadow: rgba(16,18,76,0.66);"></div>
    <ul class="nav navbar-nav" style="margin: 10%;" >
        
        <li class="active"><a routerLink="/listPatient" style="color: blue;font-family: 'Georgia'">Patients</a></li><br><br>
         <br><br>
        <li class="active"><a routerLink="/listLocalisation" style="color: blue;font-family: 'Georgia'">Localisations</a></li> <br><br> 
        <li class="active"><a routerLink="/listVisite" style="color: blue;font-family: 'Georgia'">Visites</a></li> 
                               
        <li class="active"><a routerLink="/listPhoraire"
            style="color: blue;font-family: 'Georgia';margin-bottom: 10%;">Phoraires</a></li>                                   
           
      </ul>
  </div>

    </div>
</div> -->



<div class="container">
  <div class="container">&nbsp;</div>
  <div class="container">&nbsp;</div>
  <div class="container">&nbsp;</div>
  <div class="row">
     <div class="col-sm-2"></div>
     <div class="col-sm-8"> 
      <mat-card class="example-card">
        <mat-card-title>BienVenue 😊😊😊...  </mat-card-title>
        <mat-card-title>{{ currentUser.username }} vous étes connecteé en tanque {{roles}}</mat-card-title>
        <img src="../assets/5.jpg"  width="600px" height="320px"  style=" box-shadow: rgba(16,18,76,0.66);">
        <div class="container">&nbsp;</div>
        <div class="row">
          
          <div class="col-sm-4"> 
              <button mat-button class="matbu" routerLink="/listPatient" color="primary" style="margin-left: 0%;" style="color: lightblue;font-family: 'Georgia';font-size: 16px;">
              <button mat-icon-button  color="basic" aria-label="Example icon button with a home icon" >
                <mat-icon>person</mat-icon>
              </button >Gestion des Patients</button>
          </div>
          <div class="col-sm-4">
            <button mat-button class="matbu" routerLink="/listVisite" style="margin-left: 0%;" style="color: lightblue;font-family: 'Georgia';font-size: 16px;">
              <button mat-icon-button color="basic" aria-label="Example icon button with a home icon">
                
                <mat-icon>timer</mat-icon>
              </button>Liste d'attentes</button>
          </div>
          <div class="col-sm-4">
            <button mat-button class="matbu" routerLink="/DossierPatient" style="margin-left: 0%;" style="color:lightblue;font-family: 'Georgia';font-size: 16px;">
            <button mat-icon-button color="basic" aria-label="Example icon button with a home icon">
              <mat-icon> local_hospital</mat-icon>
            </button>Dossier du Patient</button></div>

        </div>
      </mat-card>
     </div>
     <div class="col-sm-2"></div>
     
  </div>
</div>
