

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

<div class="container" style="background-color: light; margin-left: 0% " >
 <DIV CLASS="container">
  <button  mat-mini-fab color="primary" style="margin-left: 95%; margin-top: 2%"  (click)="addMdc()"  aria-label="Example icon button with a home icon">
    <mat-icon>add</mat-icon>
  </button>

<h1 style="color: blue; font-family: 'Georgia', Times, serif; margin-left: 30%;" >    Liste des Medecins</h1></DIV>
  <hr STYLE="color: yellow; ">
 
  <input type="search" (ngModelChange)="Search(key.value)" #key="ngModel" ngModel
  name="key" id="searchName" class="form-control mr-sm-2" placeholder="Search medecin..." required> <br>


  <table mat-table [dataSource]="dataSource"  class="mat-elevation-z8">
    
      
    <ng-container matColumnDef="id">
        <th style="color: blue;font-family: 'Georgia';font-size: 14px;" mat-header-cell *matHeaderCellDef>Id</th>
        <td mat-cell *matCellDef="let medecinPh">  {{medecinPh.medecin.id }} </td>
        
      </ng-container>
  
    <ng-container matColumnDef="medecin.name">
      <th style="color: blue;font-family: 'Georgia';font-size: 14px;" mat-header-cell *matHeaderCellDef>Nom et prénom</th>
      <td mat-cell *matCellDef="let medecinPh">  {{ medecinPh.medecin.name }}</td>
      
    </ng-container>
    <ng-container matColumnDef="medecin.specialicite">
        <th style="color: blue;font-family: 'Georgia';font-size: 14px;" mat-header-cell *matHeaderCellDef>Specialité</th>
        <td mat-cell *matCellDef="let medecinPh">  {{medecinPh.medecin.specialicite }} </td>
        
      </ng-container>
      <ng-container matColumnDef="medecin.numPhone">
        <th style="color: blue;font-family: 'Georgia';font-size: 14px;" mat-header-cell *matHeaderCellDef>Téléphone</th>
        <td mat-cell *matCellDef="let medecinPh">  {{medecinPh.medecin.numPhone }} </td>
        
      </ng-container>
      <ng-container matColumnDef="medecin.email">
        <th style="color: blue;font-family: 'Georgia';font-size: 14px;" mat-header-cell *matHeaderCellDef> Adresse Email </th>
        <td mat-cell *matCellDef="let medecinPh">  {{medecinPh.medecin.email }} </td>
        
      </ng-container>
      
      <ng-container matColumnDef="plage_Horaire.heure_deb">
        <th style="color: blue;font-family: 'Georgia';font-size: 14px;" mat-header-cell *matHeaderCellDef>Heure debut</th>
        <td mat-cell *matCellDef="let medecinPh"> {{medecinPh.plage_Horaire.heure_deb}}</td>
        
      </ng-container>

      <ng-container matColumnDef="plage_Horaire.heure_fin">
        <th style="color: blue;font-family: 'Georgia';font-size: 14px;" mat-header-cell *matHeaderCellDef>Heure fin</th>
        <td mat-cell *matCellDef="let medecinPh"> {{medecinPh.plage_Horaire.heure_fin}}</td>
        
      </ng-container>
  
    <ng-container matColumnDef="Actions">
      <th style="color: blue;font-family: 'Georgia';font-size: 14px;" mat-header-cell *matHeaderCellDef > Actions </th>
      <td mat-cell *matCellDef="let medicament">
        <button  mat-mini-fab color="warn" (click) = "updateMedecin(medecinPh.medecin)" aria-label="Example icon button with a home icon">
        <mat-icon >update</mat-icon></button>&nbsp;
        <button  mat-mini-fab color="accent" (click) = "deleteMedecin(medecinPh.id)"><mat-icon >delete</mat-icon></button>&nbsp;
        <button  mat-mini-fab color="primary" (click) = "MedecinDetails(medecinPh)" ><mat-icon >info</mat-icon></button></td>
    
      
    </ng-container>
  
  
    <tr  mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>   
<!-- 
<table class = "table table-bordered">
    <thead class="thead-light">
        <tr>
           <th>Id</th>
            <th> Name </th>
            <th> Specialite</th>
          
          <th>Ph_Id</th>
            <th> Actions </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let medecinPh of medecinPhs "  >
          
            <th class ="hidden"> {{medecinPh.medecin.id }} </th>
            <td> {{ medecinPh.medecin.name }} </td>
          <td> {{medecinPh.medecin.specialicite }} </td>
          <td>{{medecinPh.plage_Horaire.heure_deb}}</td>  
         
         <td>
                  <button (click) = "updateMedecin(medecinPh.medecin)" class = "btn btn-primary"> <i class="bi bi-pencil-square"></i></button>
                <button (click) = "deleteMedecin(medecinPh.id)" class = "btn btn-danger" style="margin-left: 10px"> <i class="bi bi-trash-fill"></i></button>
                <button (click) = "MedecinDetails(medecinPh)" class = "btn btn-info" style="margin-left: 10px"> <i class="bi bi-zoom-in"></i></button>
            </td>
        </tr>
    </tbody>
</table> -->
</div> 
