<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

<div class="container" style="background-color:light; margin-left: 0% " >
 <DIV CLASS="container"> 
  <button  mat-mini-fab color="primary" style="margin-left: 95%; margin-top: 2%"   (click)="addPh()" aria-label="Example icon button with a home icon">
    <mat-icon>add</mat-icon>
  </button>

<h1 style="color: blue; font-family: 'Georgia', Times, serif; margin-left: 30%;" >    List des Plages Horaires</h1></DIV>
  <hr STYLE="color: yellow; ">
  <br>
  
 
  <table mat-table [dataSource]="this.phoraires"  class="mat-elevation-z8">
    
      
    <ng-container matColumnDef="id">
        <th style="color: blue;font-family: 'Georgia';font-size: 14px;" mat-header-cell *matHeaderCellDef>Id</th>
        <td mat-cell *matCellDef="let phoraire">  {{ phoraire.id }} </td>
        
      </ng-container>
  
    <ng-container matColumnDef="heure_deb">
      <th style="color: blue;font-family: 'Georgia';font-size: 14px;" mat-header-cell *matHeaderCellDef>Heure debut</th>
      <td mat-cell *matCellDef="let phoraire">  {{ phoraire.heure_deb }} </td>
      
    </ng-container>
    <ng-container matColumnDef="heure_fin">
        <th style="color: blue;font-family: 'Georgia';font-size: 14px;" mat-header-cell *matHeaderCellDef>Heure fin</th>
        <td mat-cell *matCellDef="let phoraire">  {{ phoraire.heure_fin }} </td>
        
      </ng-container>
  
    <ng-container matColumnDef="Actions">
      <th style="color: blue;font-family: 'Georgia';font-size: 14px;" mat-header-cell *matHeaderCellDef > Actions </th>
      <td mat-cell *matCellDef="let phoraire">
        <button  mat-mini-fab color="warn" (click) = "updatePhoraire(phoraire.id)" aria-label="Example icon button with a home icon">
        <mat-icon >update</mat-icon></button>&nbsp;
        <button  mat-mini-fab color="accent" (click) = "deletePhoraire(phoraire.id)"><mat-icon >delete</mat-icon></button>&nbsp;
        
    </td>
      
    </ng-container>
  
  
    <tr  mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
<!--  
<table class = "table table-hover">
    <thead class="thead-light">
        <tr>
            <th>Id</th>
            <th>Heure_deb </th>
            <th>Heure_fin </th>
            <th> Actions </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let phoraire of phoraires "  >
          
            <th class ="hidden"> {{ phoraire.id }} </th>
            <td> {{ phoraire.heure_deb }} </td>
            <td> {{ phoraire.heure_fin }} </td>
            
         <td>
                  <button (click) = "updatePhoraire(phoraire.id)" class = "btn btn-primary"> <i class="bi bi-pencil-square"></i></button>
                <button (click) = "deletePhoraire(phoraire.id)" class = "btn btn-danger" style="margin-left: 10px"> <i class="bi bi-trash-fill"></i></button>
            
            </td>
        </tr>
    </tbody>
</table> -->
</div> 
