<!-- 
  <div id="app">
    <nav class="navbar navbar-expand-lg navbar-dark navbar-full bg-primary">
      <a href="#" class="navbar-brand">GCM.SISTA</a>
      <ul class="navbar-nav mr-auto" routerLinkActive="active">
        
        <li class="nav-item" *ngIf="showAdminBoard">
          <a href="/admin" class="nav-link" routerLink="admin">Medecin </a>
        </li>
        
        <li class="nav-item">
          <a href="/user" class="nav-link" *ngIf="isLoggedIn" routerLink="user">Secretaire</a>
        </li>
      </ul>
  
      <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
        
        <li class="nav-item">
          <a href="/login" class="nav-link" routerLink="login">Login</a>
        </li>
      </ul>
  
      <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
        <li class="nav-item">
          <a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>
        </li>
        <li class="nav-item">
          <a href class="nav-link" (click)="logout()">LogOut</a>
        </li>
      </ul>
    </nav>
    <div class="container">
        <router-outlet></router-outlet>
      </div>
</div> -->
<!--   
<mat-toolbar class="mat-elevation-z8">
  <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
      <mat-icon *ngIf="!sidenav.opened">
          menu
      </mat-icon>
      <mat-icon *ngIf="sidenav.opened">
          close
      </mat-icon>
  </button>
  Responsive side navigation
</mat-toolbar>

<mat-sidenav class="mat-elevation-z8">
  <img class="avatar mat-elevation-z8" src="https://source.unsplash.com/c_GmwfHBDzk/200x200" />

<h4 class="name">John Smith</h4>
<p class="designation">Software Engineer</p>

  <button mat-button class="menu-button">
      <mat-icon>home</mat-icon>
      <span>Home</span>
  </button>
  <button mat-button class="menu-button">
      <mat-icon>person</mat-icon>
      <span>Profile</span>
  </button>
  <button mat-button class="menu-button">
      <mat-icon>info</mat-icon>
      <span>About</span>
  </button>

  <mat-divider></mat-divider>

  <button mat-button class="menu-button">
      <mat-icon>help</mat-icon>
      <span>Help</span>
  </button>

</mat-sidenav>
<mat-sidenav-content>
   <div class="content mat-elevation-z8">
       Main content here!
   </div>
</mat-sidenav-content> -->


<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-dark navbar-full bg-primary">
    <button mat-mini-fab color="primary">
      <mat-icon >menu</mat-icon>
      
    </button>
    <a routerLink="/home" class="navbar-brand mx-0 font-weight-bold  text-nowrap"style="color: right;font-family: 'Georgia'" >GCM.SISTA</a>
    <!-- <a href="#" class="navbar-brand">GCM.SISTA</a>
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      
      <li class="nav-item" *ngIf="showAdminBoard">
        <a href="/admin" class="nav-link" routerLink="admin">Medecin </a>
      </li>
      
      <li class="nav-item">
        <a href="/user" class="nav-link" *ngIf="isLoggedIn" routerLink="user">Secretaire</a>
      </li>
    </ul> -->

    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      
      <li class="nav-item">
        <a href="/login" class="navbar-brand mx-0 font-weight-bold  text-nowrap"style="color: right;font-family: 'Georgia'"  routerLink="login">Login</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a href="/profile" class="navbar-brand mx-0 font-weight-bold  text-nowrap"  style="color: right;font-family: 'Georgia'" routerLink="profile">{{ username }}</a>
      </li>
      <li class="nav-item">
        <a href class="nav-link" (click)="logout()">LogOut</a>
      </li>
    </ul>
  </nav>
  <div class="row min-vh-100 flex-column flex-md-row">
    <aside class="col-12 col-md-3 col-xl-2 p-0  bg-primary " *ngIf="isLoggedIn">
      <nav class="navbar navbar-expand-md navbar-dark  bg-primary flex-md-column flex-row align-items-center py-2 text-center sticky-top " id="sidebar">
        
        <div class="text-center p-2">
          <img src="https://as2.ftcdn.net/jpg/02/14/64/25/500_F_214642505_6kkV06wDk1j1NpXjmCeepDMt3j64ul0r.jpg" alt="profile picture" class="img-fluid rounded-circle my-2 p-1 d-none d-md-block shadow"/>
        </div>
            <!-- <button type="button" class="navbar-toggler border-0 order-1" data-toggle="collapse" data-target="#nav" aria-controls="nav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button> -->
        <hr style="height:2px; width:100%; border-width:0; color:lightblue; background-color:lightblue">

        <div class="collapse navbar-collapse order-last" id="nav">
          <ul class="navbar-nav flex-column w-100 justify-content-start">
          <li class="nav-item">
            <a routerLink="/listPatient" class="navbar-brand mx-0 font-weight-bold  text-nowrap" style="color: right;font-family: 'Georgia'">
              Patient</a>
          </li>
          <li class="nav-item">
            <a routerLink="/listVisite" class="navbar-brand mx-0 font-weight-bold  text-nowrap" style="color: right;font-family: 'Georgia'"> Visite</a>
          </li>
          <li class="nav-item" *ngIf="showAdminBoard">
            <a routerLink="/listOrdonance" class="navbar-brand mx-0 font-weight-bold  text-nowrap" style="color: right;font-family: 'Georgia'">Ordonnance</a>
          </li>
          <li class="nav-item" *ngIf="showAdminBoard">
            <a routerLink="/listAnnalyse" class="navbar-brand mx-0 font-weight-bold  text-nowrap"  style="color: right;font-family: 'Georgia'">Analyse </a>
          </li>
          <li class="nav-item" *ngIf="showAdminBoard">
            <a routerLink="/listHospitalisation" class="navbar-brand mx-0 font-weight-bold  text-nowrap"  style="color: right;font-family: 'Georgia'">Hospitalisation </a>
          </li>
          <hr style="height:2px; width:100%; border-width:0; color:lightblue; background-color:lightblue">
         <li class="nav-item" *ngIf="showAdminBoard" class="navbar-nav flex-column w-100 justify-content-start">
            <button mat-icon-button  color="primary" class="navbar-brand mx-0 font-weight-bold  text-nowrap" style="color: right;font-family: 'Georgia'" [matMenuTriggerFor]="menu">Medecin</button>
            <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="/listMedecin">Medecin</button>
            <button mat-menu-item routerLink="/listSecretaire">Secretaire</button>
            <button mat-menu-item routerLink="/listAntecedent">Antecedent</button>
            
            </mat-menu>         
            </li>
            <li class="nav-item"  class="navbar-nav flex-column w-100 justify-content-start">
              <button mat-icon-button  color="primary" class="navbar-brand mx-0 font-weight-bold  text-nowrap" style="color: right;font-family: 'Georgia'" [matMenuTriggerFor]="menu">Secretaire</button>
              <mat-menu #menu="matMenu">
              <button mat-menu-item routerLink="/listLocalisation">Localisation</button>
              <button mat-menu-item routerLink="/listPhoraire">Plage_horaire</button>
              
              
              </mat-menu>         
              </li>
        </ul>
   
        </div>      
      </nav>   
    </aside>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </div>
</div> 