<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

<div class="container" style="background-color: light; margin-left: 0% " >
 <DIV CLASS="container"> <button class="bnt btn-primary" style="margin-left: 85%; margin-top: 2%"><a routerLink="/addLocalisation"
                        style="color: black;font-family: 'Script MT Bold'  "><i class="bi bi-plus-lg"></i> Ajouter Localisation</a></button>

<h1 style="color: blue; font-family: 'Georgia', Times, serif; margin-left: 30%;" >    List des Localisations</h1></DIV>
  <hr STYLE="color: yellow; ">
  <br>
  
  <table mat-table [dataSource]="this.localisations"  class="mat-elevation-z8">
    
      
    <ng-container matColumnDef="id">
        <th style="color: blue;font-family: 'Georgia';font-size: 14px;" mat-header-cell *matHeaderCellDef>Id</th>
        <td mat-cell *matCellDef="let  localisation"> {{ localisation.id }}</td>
        
      </ng-container>
  
    <ng-container matColumnDef="nom_moghata">
      <th style="color: blue;font-family: 'Georgia';font-size: 14px;" mat-header-cell *matHeaderCellDef>Nom de Moughataa</th>
      <td mat-cell *matCellDef="let localisation"> {{ localisation.nom_moghata }} </td>
      
    </ng-container>

    <ng-container matColumnDef="nom_commune">
        <th style="color: blue;font-family: 'Georgia';font-size: 14px;" mat-header-cell *matHeaderCellDef>Nom du Commune</th>
        <td mat-cell *matCellDef="let localisation"> {{ localisation.nom_commune }}  </td>
        
      </ng-container>
  
  
    <ng-container matColumnDef="Actions">
      <th style="color: blue;font-family: 'Georgia';font-size: 14px;" mat-header-cell *matHeaderCellDef > Actions </th>
      <td mat-cell *matCellDef="let localisation">
        <button  mat-mini-fab color="warn" (click) = "updateLocalisation(localisation.id)" aria-label="Example icon button with a home icon">
        <mat-icon >update</mat-icon></button>&nbsp;
        <button  mat-mini-fab color="accent" (click) = "deleteLocalisation(localisation.id)"><mat-icon >delete</mat-icon></button>&nbsp;
    </td>
      
    </ng-container>
  
  
    <tr  mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
<!--  
<table class = "table table-hover">
    <thead class="thead-light">
        <tr>
            <th>Id</th>
            <th> Nom de Moughata </th>
            <th> Nom de Commune</th>
            <th> Actions </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let localisation of localisations "  >
          
            <th class ="hidden"> {{ localisation.id }} </th>
            <td> {{ localisation.nom_moghata }} </td>
            <td> {{ localisation.nom_commune }} </td>
          
            
         <td>
                  <button (click) = "updateLocalisation(localisation.id)" class = "btn btn-primary"> <i class="bi bi-pencil-square"></i></button>
                <button (click) = "deleteLocalisation(localisation.id)" class = "btn btn-danger" style="margin-left: 10px"> <i class="bi bi-trash-fill"></i></button>
            
            </td>
        </tr>
    </tbody>
</table> -->
</div> 
