
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0">


<div class="container" style="background-color: light; margin-left: 0% " >
 <DIV CLASS="container" > <button class="bnt btn-primary" style="margin-left: 87%; margin-top: 2%"><a routerLink="/addPatient"
                        style="color: black;font-family: 'Georgia'  "><i class="bi bi-person-plus-fill"></i> Ajouter patients</a></button>

<h1 style="color: blue; font-family: 'Georgia', Times, serif; margin-left: 30%;margin-right: 52%; " >   Liste des patients</h1></DIV>
  <hr STYLE="color: yellow; ">
<div>
  <!-- <input type="test" class="form-control" name="Name" [(ngModel)]="Name" (ngModelChange)="Search()"
  placeholder="Entrer you name to search"> -->
  <input type="search" (ngModelChange)="Search(key.value)" #key="ngModel" ngModel
         name="key" id="searchName" class="form-control mr-sm-2" placeholder="Search patient..." required> 
    
</div><br>

<table class = "table table-hover" >
    <thead >
        <tr  class="bg-primary">
           <th> Id &nbsp;<i class="fa fa-sort"></i></th>
            <th> Nom Pérnom</th>
            <th>Téléphone</th>
          <th> Date</th>
            <th>Sexe</th>
          <th> Adresse</th>
          <th>Maladie</th>
          <th>Localisation</th>
          <th ligne="text-center"> Actions </th>
        </tr>
    </thead>


    <tbody>
        <tr *ngFor = "let patientDes of patientsDeseases">
          
            <th class ="hidden"> {{patientDes.patient.id }} </th>
            <td> {{patientDes.patient.name }} </td>
          <td> {{patientDes.patient.phone }} </td>
          <td> {{patientDes.patient.date_naissance|date: 'dd/MM/yyyy'}} </td>
          <td> {{patientDes.patient.sexe }} </td>
          <td> {{patientDes.patient.adresse }} </td>
          <td> {{patientDes.antcedent.nom_malade }} </td>
          <td>{{patientDes.localisation.nom_moghata}}</td>

          <!-- <td><div *ngFor="let item of patient.localisations">{{item.nom_moghata}}</div></td>  -->
          
           <td>
                
                  <mat-icon  color="primary" (click) = "updatePatient(patientDes.patient)">update</mat-icon>
                  <mat-icon color="accent" (click) = "deletePatientDesease(patientDes.id)">delete</mat-icon>
                  <mat-icon color="warn" (click) = "PatientDetails(patientDes)">info</mat-icon>
               
            </td>
        </tr>
    </tbody>
   
    


</table>
<mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons 
                 aria-label="Select page of periodic elements">
  </mat-paginator>  
<router-outlet></router-outlet>
</div> 
