

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/3.6.95/css/materialdesignicons.css">
    
    
    <div class="container" style="background-color: right; margin-top: 5%;" >
        
      <div class="page-content page-container" id="page-content">
        <div class="padding">
            <div class="row container d-flex justify-content-center">
                <div class="col-xl-8 col-md-12">
                    <div class="card user-card-full">
                       
                        <div id="id-print" >
                        <div class="row m-l-0 m-r-0">
    
                       
                            <div   class="col-sm-4 bg-c-lite-green user-profile">
                                <div class="card-block text-center text-white">
                                    
                                    <br>
                                     <header   style="margin-left: 5%; size: 25ch; font-family: Georgia,  'Times New Roman', Times, serif, Times, serif;font-weight: bold; color: blue;"><b>Fiche de Patient</b> </header>
                                        <br>
                                    <div class="m-b-25"> <img src="https://img.icons8.com/bubbles/100/000000/user.png"
                                        class="img-radius" alt="User-Profile-Image"> </div>
                                 
                                    <h6 class="f-w-600" style="color: blue;"><b>Identifiant du patient</b></h6>
                                    <p style="color: black;">{{patientd.patient.id}}</p> <i class=" mdi mdi-square-edit-outline feather icon-edit m-t-10 f-16"></i>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="card-block">
                                     
    <!-- <button style="margin-left: 80%;margin-top: 2%" class = "btn btn-primary" (click)="Retour()"><i class="bi bi-arrow-right-circle-fill"></i></button> -->
    <button  mat-mini-fab style="margin-left: 80%;margin-top: 2%" color="accent" (click) = "Retour()"  aria-label="Example icon button with a home icon">
        <mat-icon>assignment_return</mat-icon>
      </button>
      
                                    <h6 class="m-b-20 p-b-5 b-b-default f-w-600" style="color: blue"><b>Patient Information</b></h6>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <p class="m-b-10 f-w-600" style="color: blue">NOM</p>
                                            <h6 class="text-muted f-w-400"> {{patientd.patient.name}}</h6>
                                        </div>
                                        <div class="col-sm-6">
                                            <p class="m-b-10 f-w-600" style="color: blue">Phone</p>
                                            <h6 class="text-muted f-w-400">{{patientd.patient.phone}}</h6>
                                        </div>
                                        <div class="col-sm-6">
                                            <p class="m-b-10 f-w-600" style="color: blue">Date de naissance</p>
    
                                            <h6 class="text-muted f-w-400">{{patientd.patient.date_naissance}}</h6>
                                        </div>
                                        <div class="col-sm-6">
                                            <p class="m-b-10 f-w-600" style="color: blue">Patient Sexe</p>
                                            <h6 class="text-muted f-w-400">{{patientd.patient.sexe}}</h6>
                                        </div>
                                      
                                     <br>
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600" style="color: blue">Patient Adresse</p>
    
                                        <h6 class="text-muted f-w-400">{{patientd.patient.adresse}}</h6>
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600" style="color: blue">Patient antecedent </p>
                                        <h6 class="text-muted f-w-400">{{patientd.antcedent.nom_malade}}</h6>
                                    </div>
                    
                                <div class="col-sm-6">
                                    <p class="m-b-10 f-w-600" style="color: blue">Patient Localisation</p>
    
                                    <h6 class="text-muted f-w-400">{{patientd.localisation.nom_moghata}}</h6>
                                </div>
                                
                            
                                </div>
                                </div>
                                <footer style="margin-left: 80%; color: rgb(180, 12, 12); ">
                                    <h6 class="m-b-20 p-b-5 b-b-default f-w-600" >
                                        <button  mat-mini-fab color="primary"   (click)="openUtil()" aria-label="Example icon button with a home icon">
                                            <mat-icon>add</mat-icon>
                                          </button>
                                        <!-- <button  mat-mini-fab color="primary" (click) = "DemandeVisite(patientd.patient)"  aria-label="Example icon button with a home icon">
                                            <mat-icon>add</mat-icon>
                                          </button><br> -->
                                    <b> GCM.SISTA</b></h6></footer>
                    </div>
               
                    
                
                
                        </div>
                        <i class="far fa-print">
                            <!-- [useExistingCss]="true"  -->
                            <button 
                           
                                printSectionId="id-print" 
                                    ngxPrint style="margin-top:-5%; margin-left: 10%;" class = "btn btn-success" type ="submit">
                                    <mat-icon>print</mat-icon> Imprimer</button>
                        </i>
                        </div>
                        </div>
                            </div>
                </div>
                    </div>
                    
            </div>
    
    
    
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" defer></script>