<div class="container">
<form [formGroup]="addHosp" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <button mat-icon-button (click)="onClose()" style="margin-left: 45%;" color="basic" aria-label="Example icon button with a menu icon">
        <mat-icon>close</mat-icon>
      </button>
      <mat-card-title style="color: blue; font-family: 'Georgia', Times, serif;">Ajouter une Hospitalisation</mat-card-title>
    </mat-card-header>
    <mat-card-content >
      <div class="row">
        <div class="col">
          
            
            <mat-form-field  class="full-width">
              
              <input matInput [matDatepicker]="picker1"  placeholder="Date debut d'hospitalisation" formControlName="date_debut_hosp">
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
              <mat-error *ngIf="addHosp.controls['date_debut_hosp'].hasError('required')">
                Date debut est <strong>Obligatoire</strong>
              </mat-error>
            </mat-form-field>
          
        </div>
        </div>
        <div class="row">
        <div class="col">
          
            
          <mat-form-field  class="full-width">
            
            <input matInput [matDatepicker]="picker2"  placeholder="Date fin d'hospitalisation" formControlName="date_fin_hosp">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
            <mat-error *ngIf="addHosp.controls['date_fin_hosp'].hasError('required')">
              Date fin est <strong>Obligatoire</strong>
            </mat-error>
          </mat-form-field>
        
      </div>
      <div class="col">
        <mat-form-field class="full-width">
          <input matInput placeholder="Nom d'unité" formControlName="nomUnite">
          <mat-error *ngIf="addHosp.controls['nomUnite'].hasError('required')">
            Nom d'unité est <strong>Obligatoire</strong>
          </mat-error>
        </mat-form-field>
      </div>
      </div>
      <div class="row">
       
        <div class="col">
          <mat-form-field class="full-width"> 
            <input matInput type="number"  placeholder="Numéro du chambre" formControlName="numChambre">
            <mat-error *ngIf="addHosp.controls['numChambre'].hasError('required')">
              Numéro du chambre est <strong>Obligatoire</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput type="number" placeholder="Numéro du lit" formControlName="numLit">
            <mat-error *ngIf="addHosp.controls['numLit'].hasError('required')">
              Numéro du lit <strong>Obligatoire</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        
        <div class="col">
          <mat-form-field class="full-width">
          <textarea matInput  placeholder="Traitement" formControlName="traitement"></textarea>
          </mat-form-field> 
        </div>
      </div>
     
      
     
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Ajouter</button>
    </mat-card-actions>
  </mat-card>
</form>
</div>

<!-- 

<!DOCTYPE html>
<html>
<head>

</head>
<body>
    
  <mat-toolbar>
    <span style=" margin-left: 30%;font-family: 'Georgia', Times, serif; color: blue;">Ajouter une Hospitalisation</span>
    <button mat-icon-button (click)="onClose()" style="margin-left: 35%;" color="basic" aria-label="Example icon button with a menu icon">
      <mat-icon>close</mat-icon>
    </button>
  
  </mat-toolbar>


<div class="container">
   
  <form action="/action_page.php" (ngSubmit) = "onSubmit()">
  <div class="row">
    <div class="col-25">
      <label for="date_debut_hosp" class="required" style="color: blue;font-family: 'Georgia'">Date debut d'hospitalisation</label>
    </div>
    <div class="col-75">
      <input type="date"  class="form-control"id = "date_debut_hosp" placeholder="Date debut d'hospitalisation"
      [(ngModel)] = "hospitalisationV.hospitalisation.date_debut_hosp" name = "date_debut_hosp"
      >

         
    </div>
  </div>
  <div class="row">
    <div class="col-25">
      <label for="date_fin_hosp" style="color: blue;font-family: 'Georgia'">Date fin d'hospitalisation</label>
    </div>
    <div class="col-75">
      <input type="date"   class="form-control" id = "date_fin_hosp" placeholder="Date fin d'hospitalisation"
      [(ngModel)] = "hospitalisationV.hospitalisation.date_fin_hosp" name = "date_fin_hosp">
    </div>
  </div>
  <div class="row">
    <div class="col-25">
      <label for="nomUnite" style="color: blue;font-family: 'Georgia'">Nom d'unité</label>
    </div>
    <div class="col-75">
      <input type="text"  class="form-control"  id = "nomUnite" placeholder="Nom d'unite"
      [(ngModel)] = "hospitalisationV.hospitalisation.nomUnite  " name = "nomUnite">
    </div>
  </div>
  

  <div class="row">
    <div class="col-25">
      <label for="numChambre" style="color: blue;font-family: 'Georgia'">Numéro du chambre</label>
    </div>
    <div class="col-75">
        <input type="number" id="adresse" class="form-control" id = "numChambre" placeholder="numero de chambre"
        [(ngModel)] = "hospitalisationV.hospitalisation.numChambre " name = "numChambre">
    </div>
  </div>

  

  <div class="row">
    <div class="col-25">
      <label for="numLit" style="color: blue;font-family: 'Georgia'">Numéro du lit</label>
    </div>
    <div class="col-75">
        <input type="number" id="adresse" class="form-control" id = "numLit" placeholder="Numéro de lit"
        [(ngModel)] = "hospitalisationV.hospitalisation.numLit " name = "numLit">
    </div>
  </div>

  <div class="row">
    <div class="col-25">
      <label for="traitement" style="color: blue;font-family: 'Georgia'">Traitement</label>
    </div>
    <div class="col-75">
        <input type="text" id="adresse" class="form-control"  id = "traitement" placeholder="Traitement donnee"
        [(ngModel)] = "hospitalisationV.hospitalisation.traitement " name = "traitement">
    </div>
  </div>
 

  <div class="row">

    
    <input type="submit" style="margin-left: 50%;" value="Ajouter" mat-dialog-close>
    
   
   
  </div>
  </form>
</div>

</body>
</html> -->
