<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

<div class="container" style="background-color: light; margin-left: 10% " >

<div class="col-md-6 offset-md-3 " STYLE="margin-left: 25% ; width: 40%"   >
    <h3 style="margin-left: 20%; font-family: 'Georgia', Times, serif; color: blue;" > Ajouter un Localisation </h3>
  <hr STYLE="color: yellow; ">
    <form (ngSubmit) = "onSubmit()">

        <div class="form-group">
            <input type="hidden" class ="form-control" id = "id" placeholder="Identifiant"
                [(ngModel)] = "localisation.id" name = "id">
        </div>

        <div class="form-group">
            <input type="text" class ="form-control" id = "Nom Moughata" placeholder="Nome de Moughataa"
                [(ngModel)] = "localisation.nom_moghata " name = "nom_moghata">
        </div>

        <div class="form-group">
            <input type="text" class ="form-control" id = "Nom Commune" placeholder="Nome de Commune"
                [(ngModel)] = "localisation.nom_commune " name = "nom_commune">
        </div>
       
      <button style="margin-bottom: 5%; margin-left: 80%;" class = "btn btn-success" type ="submit">Ajouter</button>
      </form>
</div>
</div>
